<!-- aside navbar -->
<!-- navbar -->
<nav class="navbar navbar-expand-lg shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold text-uppercase text-dark" href="#">Submission Pack</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end fw-semibold" id="navbarNavAltMarkup">
            <div class="navbar-nav ">
                <a class="nav-link active text-dark" aria-current="/home" routerLink="/home">Home</a>
                <a class="nav-link" routerLink="/about">About</a>
                <a class="nav-link" routerLink="/services">Services</a>
                <a class="nav-link" routerLink="/services1">Services</a>
                <a class="nav-link" routerLink="/creditCard">Credit Card</a>
                <a class="nav-link" routerLink="/loan">Loan Mortgages</a>
                <a class="nav-link" routerLink="/hcpcc">Household EPCC</a>
                <a class="nav-link" routerLink="/customer">Customer Declarations</a>
                <a class="nav-link" routerLink="/feedback">Feedback</a>
                <a class="nav-link" routerLink="contact">Contact</a>
            </div>
        </div>
    </div>
</nav>
<!-- /navbar -->
<!-- /aside navbar -->
<!-- main -->
<main>
    <!-- Feedback & indications subject to validation -->
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <!--  Feedback & indications subject to validation title -->
                <h1 class="fw-bold mb-3 p-2 sectionBorder">Section 8
                </h1>
                <div class="card p-4 shadow-sm">
                    <!-- Feedback & indications subject to validation sub title  -->
                    <h5 class="fw-bold mb-0 p-1 text-capitalize">Feedback & indications subject to validation

                    </h5>
                    <form class="row">
                        <div class="row g-3">
                            <!-- address-->
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="">
                                    <label for="" class="align-self-center fw-bold text-capitalize mb-3"
                                        for="feedbackIndicationAddress">Address<span class="text-danger">
                                            *</span></label>
                                    <input type="text" class="form-control rounded-start" id="feedbackIndicationAddress"
                                        placeholder="Address" aria-label="Username" aria-describedby="basic-addon1">
                                    <span class="input-group" id="customerDeclarationCurrentBalancetext"></span>
                                </div>
                            </div>
                            <!-- post code -->
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="">
                                    <label for="" class="align-self-center fw-bold text-capitalize mb-3"
                                        for="feedbackIndicationPostCode">Post Code<span class="text-danger">
                                            *</span></label>
                                    <input type="text" class="form-control rounded-start"
                                        id="feedbackIndicationPostCode" placeholder="Post Code" aria-label="Username"
                                        aria-describedby="basic-addon1">
                                    <span class="input-group" id="feedbackIndicationPostCode"></span>
                                </div>
                            </div>
                            <!-- Land size -->
                            <div class="col-12 col-md-6 col-lg-6">
                                <label for="customerDeclarationProjectValue"
                                    class="align-self-center fw-bold text-capitalize mb-3">Land Size</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="customerDeclarationProjectValue"
                                        placeholder="Land Size" aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                    <span class="input-group-text fw-semibold" id="customerDeclarationProject">Ha</span>
                                </div>
                            </div>
                            <!-- Council zoning -->
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="">
                                    <label for="" class="align-self-center fw-bold text-capitalize mb-3"
                                        for="feedbackIndicationPostCode">Council Zoning<span class="text-danger">
                                            *</span></label>
                                    <input type="text" class="form-control rounded-start"
                                        id="feedbackIndicationPostCode" placeholder="Council Zoning"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                    <span class="input-group" id="feedbackIndicationPostCode"></span>
                                </div>
                            </div>
                            <!-- Existing usage -->
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="">
                                    <label for="" class="align-self-center fw-bold text-capitalize mb-3"
                                        for="feedbackIndicationPostCode">Existing Usage<span class="text-danger">
                                            *</span></label>
                                    <input type="text" class="form-control rounded-start"
                                        id="feedbackIndicationPostCode" placeholder="Existing Usage"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                    <span class="input-group" id="feedbackIndicationPostCode"></span>
                                </div>
                            </div>
                            <!-- PC category S&P -->
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="">
                                    <label for="" class="align-self-center fw-bold text-capitalize mb-3"
                                        for="feedbackIndicationPostCode">PC category S&P<span class="text-danger">
                                            *</span></label>
                                    <input type="text" class="form-control rounded-start"
                                        id="feedbackIndicationPostCode" placeholder="PC Category S&P"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                    <span class="input-group" id="feedbackIndicationPostCode"></span>
                                </div>
                            </div>
                            <!-- Capital -->
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="">
                                    <label for="" class="align-self-center fw-bold text-capitalize mb-3"
                                        for="feedbackIndicationPostCode">Capital<span class="text-danger">
                                            *</span></label>
                                    <input type="text" class="form-control rounded-start"
                                        id="feedbackIndicationPostCode" placeholder="Capital" aria-label="Username"
                                        aria-describedby="basic-addon1">
                                    <span class="input-group" id="feedbackIndicationPostCode"></span>
                                </div>
                            </div>
                            <!-- Loan amount required -->
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="">
                                    <label for="" class="align-self-center fw-bold text-capitalize mb-3"
                                        for="feedbackIndicationPostCode">Loan amount required<span class="text-danger">
                                            *</span></label>
                                    <input type="text" class="form-control rounded-start"
                                        id="feedbackIndicationPostCode" placeholder="Loan Amount Required"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                    <span class="input-group" id="feedbackIndicationPostCode"></span>
                                </div>
                            </div>
                            <!-- Security value (current or on completion) -->
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="">
                                    <label for="" class="align-self-center fw-bold text-capitalize mb-3"
                                        for="feedbackIndicationPostCode">Security value (current or on completion)<span
                                            class="text-danger">
                                            *</span></label>
                                    <input type="text" class="form-control rounded-start"
                                        id="feedbackIndicationPostCode" placeholder="Security Value"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                    <span class="input-group" id="feedbackIndicationPostCode"></span>
                                </div>
                            </div>
                            <!-- LVR -->
                            <div class="col-12 col-md-6 col-lg-6">
                                <label for="customerDeclarationProjectValue"
                                    class="align-self-center fw-bold text-capitalize mb-3">LVR</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="customerDeclarationProjectValue"
                                        placeholder="LVR" aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                    <span class="input-group-text fw-bold" id="customerDeclarationProject">%</span>
                                </div>
                            </div>
                            <!-- Good borrowers -->
                            <div class="col-12 col-md-6 col-lg-6">
                                <img src="{{imgBrowsers}}" class="imgBorrowers" alt="imgBrowsers" />
                            </div>





















                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Feedback & indications subject to validation) -->
</main>
<!-- /main -->