<!-- aside navbar -->
<!-- navbar -->
<nav class="navbar navbar-expand-lg shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold text-uppercase text-dark" href="#">Submission Pack</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end fw-semibold" id="navbarNavAltMarkup">
            <div class="navbar-nav ">
                <a class="nav-link active text-dark" aria-current="/home" routerLink="/home">Home</a>
                <a class="nav-link" routerLink="/about">About</a>
                <a class="nav-link" routerLink="/services">Services</a>
                <a class="nav-link" routerLink="/services1">Services</a>
                <a class="nav-link" routerLink="/creditCard">Credit Card</a>
                <a class="nav-link" routerLink="/loan">Loan Mortgages</a>
                <a class="nav-link" routerLink="/hcpcc">Household EPCC</a>
                <a class="nav-link" routerLink="/customer">Customer Declarations</a>
                <a class="nav-link" routerLink="/feedback">Feedback</a>
                <a class="nav-link" routerLink="contact">Contact</a>
            </div>
        </div>
    </div>
</nav>
<!-- /navbar -->
<!-- /aside navbar -->
<!-- main -->
<main>
    <!-- Feedback & indications subject to validation -->
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <!--  Feedback & indications subject to validation title -->
                <h1 class="fw-bold mb-3 p-2 sectionBorder">Section 8
                </h1>
                <div class="card p-4 shadow-sm">
                    <!-- Feedback & indications subject to validation sub title  -->
                    <h5 class="fw-bold mb-0 p-1 text-capitalize">Feedback & indications subject to validation

                    </h5>
                    <form class="row">
                        <div class="row g-3">
                            <!-- address-->
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="">
                                    <label for="" class="align-self-center fw-bold text-capitalize mb-3"
                                        for="feedbackIndicationAddress">Address<span class="text-danger">
                                            *</span></label>
                                    <input type="text" class="form-control rounded-start" id="feedbackIndicationAddress"
                                        placeholder="Address" aria-label="Username" aria-describedby="basic-addon1">
                                    <span class="input-group" id="customerDeclarationCurrentBalancetext"></span>
                                </div>
                            </div>
                            <!-- post code -->
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="">
                                    <label for="" class="align-self-center fw-bold text-capitalize mb-3"
                                        for="feedbackIndicationPostCode">Post Code<span class="text-danger">
                                            *</span></label>
                                    <input type="text" class="form-control rounded-start"
                                        id="feedbackIndicationPostCode" placeholder="Post Code" aria-label="Username"
                                        aria-describedby="basic-addon1">
                                    <span class="input-group" id="feedbackIndicationPostCode"></span>
                                </div>
                            </div>
                            <!-- Land size -->
                            <div class="col-12 col-md-6 col-lg-6">
                                <label for="customerDeclarationProjectValue"
                                    class="align-self-center fw-bold text-capitalize mb-3">Land Size</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="customerDeclarationProjectValue"
                                        placeholder="Land Size" aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                    <span class="input-group-text fw-semibold" id="customerDeclarationProject">Ha</span>
                                </div>
                            </div>
                            <!-- Council zoning -->
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="">
                                    <label for="" class="align-self-center fw-bold text-capitalize mb-3"
                                        for="feedbackIndicationPostCode">Council Zoning<span class="text-danger">
                                            *</span></label>
                                    <input type="text" class="form-control rounded-start"
                                        id="feedbackIndicationPostCode" placeholder="Council Zoning"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                    <span class="input-group" id="feedbackIndicationPostCode"></span>
                                </div>
                            </div>
                            <!-- Existing usage -->
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="">
                                    <label for="" class="align-self-center fw-bold text-capitalize mb-3"
                                        for="feedbackIndicationPostCode">Existing Usage<span class="text-danger">
                                            *</span></label>
                                    <input type="text" class="form-control rounded-start"
                                        id="feedbackIndicationPostCode" placeholder="Existing Usage"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                    <span class="input-group" id="feedbackIndicationPostCode"></span>
                                </div>
                            </div>
                            <!-- PC category S&P -->
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="">
                                    <label for="" class="align-self-center fw-bold text-capitalize mb-3"
                                        for="feedbackIndicationPostCode">PC category S&P<span class="text-danger">
                                            *</span></label>
                                    <input type="text" class="form-control rounded-start"
                                        id="feedbackIndicationPostCode" placeholder="PC Category S&P"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                    <span class="input-group" id="feedbackIndicationPostCode"></span>
                                </div>
                            </div>
                            <!-- Capital -->
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="">
                                    <label for="" class="align-self-center fw-bold text-capitalize mb-3"
                                        for="feedbackIndicationPostCode">Capital<span class="text-danger">
                                            *</span></label>
                                    <input type="text" class="form-control rounded-start"
                                        id="feedbackIndicationPostCode" placeholder="Capital" aria-label="Username"
                                        aria-describedby="basic-addon1">
                                    <span class="input-group" id="feedbackIndicationPostCode"></span>
                                </div>
                            </div>
                            <!-- Loan amount required -->
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="">
                                    <label for="" class="align-self-center fw-bold text-capitalize mb-3"
                                        for="feedbackIndicationPostCode">Loan amount required<span class="text-danger">
                                            *</span></label>
                                    <input type="text" class="form-control rounded-start"
                                        id="feedbackIndicationPostCode" placeholder="Loan Amount Required"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                    <span class="input-group" id="feedbackIndicationPostCode"></span>
                                </div>
                            </div>
                            <!-- Security value (current or on completion) -->
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="">
                                    <label for="" class="align-self-center fw-bold text-capitalize mb-3"
                                        for="feedbackIndicationPostCode">Security value (current or on completion)<span
                                            class="text-danger">
                                            *</span></label>
                                    <input type="text" class="form-control rounded-start"
                                        id="feedbackIndicationPostCode" placeholder="Security Value"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                    <span class="input-group" id="feedbackIndicationPostCode"></span>
                                </div>
                            </div>
                            <!-- LVR -->
                            <div class="col-12 col-md-6 col-lg-6">
                                <label for="customerDeclarationProjectValue"
                                    class="align-self-center fw-bold text-capitalize mb-3">LVR</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="customerDeclarationProjectValue"
                                        placeholder="LVR" aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                    <span class="input-group-text fw-bold" id="customerDeclarationProject">%</span>
                                </div>
                            </div>
                            <!-- Good borrowers -->
                            <div class="col-12 col-lg-4">
                                <div class="row g-3">
                                    <div class="col-12 col-md-6 col-lg-6">
                                        <img src="{{imgBrowsers}}" class="imgBorrowers mb-3" alt="imgBrowsers" />
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 align-self-center">
                                        <h5>Good Borrowers</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-8">
                                <div class="row g-3">
                                    <div class="col-12 col-lg-6 align-self-center">
                                        <div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="customerDeclarationRefinanceReasons"
                                                    id="customerDeclarationRefinanceReasonsCost" value="option2">
                                                <label class="form-check-label fw-semibold"
                                                    for="customerDeclarationRefinanceReasonsCost">Ultra prime</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="customerDeclarationRefinanceReasons"
                                                    id="customerDeclarationRefinanceReasonsSpecific" value="option1">
                                                <label class="form-check-label fw-semibold"
                                                    for="customerDeclarationRefinanceReasonsSpecific">Super prime
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="customerDeclarationRefinanceReasons"
                                                    id="customerDeclarationRefinanceReasonsSpecific" value="option1">
                                                <label class="form-check-label fw-semibold"
                                                    for="customerDeclarationRefinanceReasonsSpecific">Premium</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="customerDeclarationRefinanceReasons"
                                                    id="customerDeclarationRefinanceReasonsSpecific" value="option1">
                                                <label class="form-check-label fw-semibold"
                                                    for="customerDeclarationRefinanceReasonsSpecific">Optimax</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="customerDeclarationProjectValue"
                                                placeholder="LVR" aria-label="Recipient's username"
                                                aria-describedby="basic-addon2">
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6 align-self-center">
                                        <div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="customerDeclarationRefinanceReasons"
                                                    id="customerDeclarationRefinanceReasonsCost" value="option2">
                                                <label class="form-check-label fw-semibold"
                                                    for="customerDeclarationRefinanceReasonsCost">Ultra prime II</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="customerDeclarationRefinanceReasons"
                                                    id="customerDeclarationRefinanceReasonsSpecific" value="option1">
                                                <label class="form-check-label fw-semibold"
                                                    for="customerDeclarationRefinanceReasonsSpecific">Super prime
                                                    II</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="customerDeclarationRefinanceReasons"
                                                    id="customerDeclarationRefinanceReasonsSpecific" value="option1">
                                                <label class="form-check-label fw-semibold"
                                                    for="customerDeclarationRefinanceReasonsSpecific">Premium II</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="customerDeclarationRefinanceReasons"
                                                    id="customerDeclarationRefinanceReasonsSpecific" value="option1">
                                                <label class="form-check-label fw-semibold"
                                                    for="customerDeclarationRefinanceReasonsSpecific">Optimax II</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="customerDeclarationProjectValue"
                                                placeholder="LVR" aria-label="Recipient's username"
                                                aria-describedby="basic-addon2">
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6 align-self-center">
                                        <div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="customerDeclarationRefinanceReasons"
                                                    id="customerDeclarationRefinanceReasonsCost" value="option2">
                                                <label class="form-check-label fw-semibold"
                                                    for="customerDeclarationRefinanceReasonsCost">Ultra prime
                                                    III</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="customerDeclarationRefinanceReasons"
                                                    id="customerDeclarationRefinanceReasonsSpecific" value="option1">
                                                <label class="form-check-label fw-semibold"
                                                    for="customerDeclarationRefinanceReasonsSpecific">Super prime
                                                    III</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="customerDeclarationRefinanceReasons"
                                                    id="customerDeclarationRefinanceReasonsSpecific" value="option1">
                                                <label class="form-check-label fw-semibold"
                                                    for="customerDeclarationRefinanceReasonsSpecific">Premium
                                                    III</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="customerDeclarationRefinanceReasons"
                                                    id="customerDeclarationRefinanceReasonsSpecific" value="option1">
                                                <label class="form-check-label fw-semibold"
                                                    for="customerDeclarationRefinanceReasonsSpecific">Optimax
                                                    III</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="customerDeclarationProjectValue"
                                                placeholder="LVR" aria-label="Recipient's username"
                                                aria-describedby="basic-addon2">
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <!-- Specialist -->
                            <div class="col-12 col-lg-4">
                                <div class="row g-3">
                                    <div class="col-12 col-md-6 col-lg-6">
                                        <img src="{{imgBrowsers}}" class="imgBorrowers mb-3" alt="imgBrowsers" />
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 align-self-center">
                                        <h5>Specialist</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-8">
                                <div class="row g-3">
                                    <div class="col-12 col-lg-6 align-self-center">
                                        <div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="customerDeclarationRefinanceReasons"
                                                    id="customerDeclarationRefinanceReasonsConsolidate" value="option1">
                                                <label class="form-check-label fw-semibold text-danger"
                                                    for="customerDeclarationRefinanceReasonsConsolidate">Tolerant
                                                    I</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="customerDeclarationRefinanceReasons"
                                                    id="customerDeclarationRefinanceReasonsCost" value="option2">
                                                <label class="form-check-label fw-semibold text-danger"
                                                    for="customerDeclarationRefinanceReasonsCost">Progressive I</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="customerDeclarationRefinanceReasons"
                                                    id="customerDeclarationRefinanceReasonsSpecific" value="option1">
                                                <label class="form-check-label fw-semibold text-danger"
                                                    for="customerDeclarationRefinanceReasonsSpecific">Receptive
                                                    I</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="customerDeclarationRefinanceReasons"
                                                    id="customerDeclarationRefinanceReasonsSpecific" value="option1">
                                                <label class="form-check-label fw-semibold text-danger"
                                                    for="customerDeclarationRefinanceReasonsSpecific">Liberal I</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="customerDeclarationProjectValue"
                                                placeholder="LVR" aria-label="Recipient's username"
                                                aria-describedby="basic-addon2">
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6 align-self-center">
                                        <div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="customerDeclarationRefinanceReasons"
                                                    id="customerDeclarationRefinanceReasonsCost" value="option2">
                                                <label class="form-check-label fw-semibold text-danger"
                                                    for="customerDeclarationRefinanceReasonsCost">Tolerant II</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="customerDeclarationRefinanceReasons"
                                                    id="customerDeclarationRefinanceReasonsSpecific" value="option1">
                                                <label class="form-check-label fw-semibold text-danger"
                                                    for="customerDeclarationRefinanceReasonsSpecific">Progressive
                                                    II</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="customerDeclarationRefinanceReasons"
                                                    id="customerDeclarationRefinanceReasonsSpecific" value="option1">
                                                <label class="form-check-label fw-semibold text-danger"
                                                    for="customerDeclarationRefinanceReasonsSpecific">Receptive
                                                    II</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="customerDeclarationRefinanceReasons"
                                                    id="customerDeclarationRefinanceReasonsSpecific" value="option1">
                                                <label class="form-check-label fw-semibold text-danger"
                                                    for="customerDeclarationRefinanceReasonsSpecific">Liberal II</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="customerDeclarationProjectValue"
                                                placeholder="LVR" aria-label="Recipient's username"
                                                aria-describedby="basic-addon2">
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6 align-self-center">
                                        <div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="customerDeclarationRefinanceReasons"
                                                    id="customerDeclarationRefinanceReasonsCost" value="option2">
                                                <label class="form-check-label fw-semibold text-danger"
                                                    for="customerDeclarationRefinanceReasonsCost">Tolerant III</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="customerDeclarationRefinanceReasons"
                                                    id="customerDeclarationRefinanceReasonsSpecific" value="option1">
                                                <label class="form-check-label fw-semibold text-danger"
                                                    for="customerDeclarationRefinanceReasonsSpecific">Progressive
                                                    III</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="customerDeclarationRefinanceReasons"
                                                    id="customerDeclarationRefinanceReasonsSpecific" value="option1">
                                                <label class="form-check-label fw-semibold text-danger"
                                                    for="customerDeclarationRefinanceReasonsSpecific">Receptive
                                                    III</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="customerDeclarationRefinanceReasons"
                                                    id="customerDeclarationRefinanceReasonsSpecific" value="option1">
                                                <label class="form-check-label fw-semibold text-danger"
                                                    for="customerDeclarationRefinanceReasonsSpecific">Liberal
                                                    III</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="customerDeclarationProjectValue"
                                                placeholder="LVR" aria-label="Recipient's username"
                                                aria-describedby="basic-addon2">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- 1st mortgage & 1st split -->
                            <div class="col-12 col-md-6 col-lg-12">
                                <label for="customerDeclarationProjectValue"
                                    class="align-self-center fw-bold text-capitalize mb-3">1st mortgage & 1st
                                    split</label>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <label for="customerDeclarationProjectValue"
                                    class="align-self-center fw-bold text-capitalize mb-3">Maximum LVR or loan amount
                                    (whichever is the lesser)</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="customerDeclarationProjectValue"
                                        placeholder="Maximum LVR Or Loan Amount" aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                    <span class="input-group-text fw-bold" id="customerDeclarationProject">%</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <label for="customerDeclarationProjectValue"
                                    class="align-self-center fw-bold text-capitalize mb-3">Or</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="customerDeclarationProjectValue"
                                        placeholder="OR" aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <label for="customerDeclarationProjectValue"
                                    class="align-self-center fw-bold text-capitalize mb-3">Loan term in years</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="customerDeclarationProjectValue"
                                        placeholder="Loan Term In Years" aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <!-- Risk fee -->

                            <div class="col-12 col-md-6 col-lg-4">
                                <label for="customerDeclarationProjectValue"
                                    class="align-self-center fw-bold text-capitalize mb-3">Risk fee</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="customerDeclarationProjectValue"
                                        placeholder="Risk Fee" aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                    <span class="input-group-text fw-bold" id="customerDeclarationProject">%</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <label for="customerDeclarationProjectValue"
                                    class="align-self-center fw-bold text-capitalize mb-3">Or</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="customerDeclarationProjectValue"
                                        placeholder="OR" aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <label for="customerDeclarationProjectValue"
                                    class="align-self-center fw-bold mb-3">Application Fee</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="customerDeclarationProjectValue"
                                        placeholder="Loan Term In Years" aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <!-- Establishment fee -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <label for="customerDeclarationProjectValue"
                                    class="align-self-center fw-bold text-capitalize mb-3">Establishment Fee</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="customerDeclarationProjectValue"
                                        placeholder="Establishment Fee" aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                    <span class="input-group-text fw-bold" id="customerDeclarationProject">%</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <label for="customerDeclarationProjectValue"
                                    class="align-self-center fw-bold text-capitalize mb-3">Or</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="customerDeclarationProjectValue"
                                        placeholder="OR" aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <label for="customerDeclarationProjectValue"
                                    class="align-self-center fw-bold mb-3">Annual Facility Fee</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="customerDeclarationProjectValue"
                                        placeholder="Annual Facility Fee" aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <!-- monthly facility management fee -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <label for="customerDeclarationProjectValue"
                                    class="align-self-center fw-bold text-capitalize mb-3">monthly facility management
                                    fee</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="customerDeclarationProjectValue"
                                        placeholder="Monthly Facility Management Fee" aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                    <span class="input-group-text fw-bold" id="customerDeclarationProject">%</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 align-self-end mb-2">
                                <label for="customerDeclarationProjectValue"
                                    class="align-self-center fw-bold text-capitalize">waived in full with direct credit
                                    of all income</label>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <label for="customerDeclarationProjectValue"
                                    class="align-self-center fw-bold text-capitalize mb-3">Settlement fee</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="customerDeclarationProjectValue"
                                        placeholder="Settlement Fee" aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <!-- construction administration fee -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <label for="customerDeclarationProjectValue"
                                    class="align-self-center fw-bold text-capitalize mb-3">Construction administration
                                    fee</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="customerDeclarationProjectValue"
                                        placeholder="Construction Administration Fee" aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-4">
                                <label for="customerDeclarationProjectValue"
                                    class="align-self-center fw-bold mb-3">Discharge Fee</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="customerDeclarationProjectValue"
                                        placeholder="Construction Administration Fee" aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <!-- Rate lock (prepaid & non-refundable ) -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <label for="customerDeclarationProjectValue"
                                    class="align-self-center fw-bold text-capitalize mb-3">Rate lock (prepaid &
                                    non-refundable )
                                    fee (whichever is the higher)</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="customerDeclarationProjectValue"
                                        placeholder="Rate Lock (Prepaid & Non-Refundable ) Fee"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <span class="input-group-text fw-bold" id="customerDeclarationProject">%</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <label for="customerDeclarationProjectValue"
                                    class="align-self-center fw-bold text-capitalize mb-3">Or</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="customerDeclarationProjectValue"
                                        placeholder="OR" aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <label for="customerDeclarationProjectValue"
                                    class="align-self-center fw-bold text-capitalize mb-3">Deed Of Priority Fee</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="customerDeclarationProjectValue"
                                        placeholder="Deed Of Priority Fee" aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <!-- express fee -->
                            <div class="col-12 col-md-6 col-lg-6">
                                <label for="customerDeclarationProjectValue"
                                    class="align-self-center fw-bold text-capitalize mb-3">Express fee</label>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="customerDeclarationProjectValue"
                                        placeholder="Express Fee" aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                </div>
                            </div>







                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Feedback & indications subject to validation) -->
</main>
<!-- /main -->