<!-- aside navbar -->
<!-- navbar -->
<nav class="navbar navbar-expand-lg shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold text-uppercase text-dark" href="#">Submission Pack</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end fw-semibold" id="navbarNavAltMarkup">
            <div class="navbar-nav ">
                <a class="nav-link active text-dark" aria-current="/home" routerLink="/home">Home</a>
                <a class="nav-link" routerLink="/about">About</a>
                <a class="nav-link" routerLink="/services">Services</a>
                <a class="nav-link" routerLink="/services1">Services</a>
                <a class="nav-link" routerLink="/creditCard">Credit Card</a>
                <a class="nav-link" routerLink="/loan">Loan Mortgages</a>
                <a class="nav-link" routerLink="/hcpcc">Household EPCC</a>
                <a class="nav-link" routerLink="/customer">Customer Declarations</a>
                <a class="nav-link" routerLink="/feedback">Feedback</a>
                <a class="nav-link" routerLink="/infoCustomer">Info Customer</a>
                <a class="nav-link" routerLink="contact">Contact</a>
            </div>
        </div>
    </div>
</nav>
<!-- /navbar -->
<!-- /aside navbar -->
<!-- main -->
<main>
    <!--Introduction to the customer -->
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <!-- Introduction to the customer title -->
                <h1 class="fw-bold mb-3 p-2 sectionBorder">Section 9
                </h1>
                <div class="card p-4 shadow-sm">
                    <!--Introduction to the customer sub title  -->
                    <h5 class="fw-bold mb-0 p-1 text-capitalize">Introduction to the customer</h5>
                    <form class="row">
                        <div class="row g-3">
                            <!-- borrowers age-->
                            <div class="col-12 col-md-6 col-lg-3 align-self-center">
                                <label for="feedbackIndicationConstructionAdministration" class="fw-bold mb-3">Borrowers
                                    Age
                                </label>
                                <div class="input-group">
                                    <span class="input-group-text fw-semibold"
                                        id="rateDropIncludingRBARecentPercentage">1</span>
                                    <input type="text" class="form-control"
                                        id="feedbackIndicationConstructionAdministration"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 align-self-end">
                                <div class="input-group">
                                    <span class="input-group-text fw-semibold"
                                        id="rateDropIncludingRBARecentPercentage">2</span>
                                    <input type="text" class="form-control"
                                        id="feedbackIndicationConstructionAdministration"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 align-self-end">
                                <div class="input-group">
                                    <span class="input-group-text fw-semibold"
                                        id="rateDropIncludingRBARecentPercentage">3</span>
                                    <input type="text" class="form-control"
                                        id="feedbackIndicationConstructionAdministration"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 align-self-end">
                                <div class="input-group">
                                    <span class="input-group-text fw-semibold"
                                        id="rateDropIncludingRBARecentPercentage">4</span>
                                    <input type="text" class="form-control"
                                        id="feedbackIndicationConstructionAdministration"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <!-- borrowers equifax score -->
                            <div class="col-12 col-md-6 col-lg-3 align-self-center">
                                <label for="feedbackIndicationConstructionAdministration" class="fw-bold mb-3">Borrowers
                                    Equifax Score</label>
                                <div class="input-group">
                                    <span class="input-group-text fw-semibold"
                                        id="rateDropIncludingRBARecentPercentage">1</span>
                                    <input type="text" class="form-control"
                                        id="feedbackIndicationConstructionAdministration"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 align-self-end">
                                <div class="input-group">
                                    <span class="input-group-text fw-semibold"
                                        id="rateDropIncludingRBARecentPercentage">2</span>
                                    <input type="text" class="form-control"
                                        id="feedbackIndicationConstructionAdministration"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 align-self-end">
                                <div class="input-group">
                                    <span class="input-group-text fw-semibold"
                                        id="rateDropIncludingRBARecentPercentage">3</span>
                                    <input type="text" class="form-control"
                                        id="feedbackIndicationConstructionAdministration"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 align-self-end">
                                <div class="input-group">
                                    <span class="input-group-text fw-semibold"
                                        id="rateDropIncludingRBARecentPercentage">4</span>
                                    <input type="text" class="form-control"
                                        id="feedbackIndicationConstructionAdministration"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <!-- borrowers occupation: -->
                            <div class="col-12 col-md-6 col-lg-3 align-self-center">
                                <label for="feedbackIndicationConstructionAdministration" class="fw-bold mb-3">Borrowers
                                    Occupation</label>
                                <div class="input-group">
                                    <span class="input-group-text fw-semibold"
                                        id="rateDropIncludingRBARecentPercentage">1</span>
                                    <input type="text" class="form-control"
                                        id="feedbackIndicationConstructionAdministration"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 align-self-end">
                                <div class="input-group">
                                    <span class="input-group-text fw-semibold"
                                        id="rateDropIncludingRBARecentPercentage">2</span>
                                    <input type="text" class="form-control"
                                        id="feedbackIndicationConstructionAdministration"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 align-self-end">
                                <div class="input-group">
                                    <span class="input-group-text fw-semibold"
                                        id="rateDropIncludingRBARecentPercentage">3</span>
                                    <input type="text" class="form-control"
                                        id="feedbackIndicationConstructionAdministration"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 align-self-end">
                                <div class="input-group">
                                    <span class="input-group-text fw-semibold"
                                        id="rateDropIncludingRBARecentPercentage">4</span>
                                    <input type="text" class="form-control"
                                        id="feedbackIndicationConstructionAdministration"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <!-- guarantor age-->
                            <div class="col-12 col-md-6 col-lg-3 align-self-center">
                                <label for="feedbackIndicationConstructionAdministration" class="fw-bold mb-3">Guarantor
                                    Age</label>
                                <div class="input-group">
                                    <span class="input-group-text fw-semibold"
                                        id="rateDropIncludingRBARecentPercentage">1</span>
                                    <input type="text" class="form-control"
                                        id="feedbackIndicationConstructionAdministration"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 align-self-end">
                                <div class="input-group">
                                    <span class="input-group-text fw-semibold"
                                        id="rateDropIncludingRBARecentPercentage">2</span>
                                    <input type="text" class="form-control"
                                        id="feedbackIndicationConstructionAdministration"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 align-self-end">
                                <div class="input-group">
                                    <span class="input-group-text fw-semibold"
                                        id="rateDropIncludingRBARecentPercentage">3</span>
                                    <input type="text" class="form-control"
                                        id="feedbackIndicationConstructionAdministration"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 align-self-end">
                                <div class="input-group">
                                    <span class="input-group-text fw-semibold"
                                        id="rateDropIncludingRBARecentPercentage">4</span>
                                    <input type="text" class="form-control"
                                        id="feedbackIndicationConstructionAdministration"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <!-- guarantors equifax score -->
                            <div class="col-12 col-md-6 col-lg-3 align-self-center">
                                <label for="feedbackIndicationConstructionAdministration"
                                    class="fw-bold mb-3">Guarantors Equifax Score</label>
                                <div class="input-group">
                                    <span class="input-group-text fw-semibold"
                                        id="rateDropIncludingRBARecentPercentage">1</span>
                                    <input type="text" class="form-control"
                                        id="feedbackIndicationConstructionAdministration"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 align-self-end">
                                <div class="input-group">
                                    <span class="input-group-text fw-semibold"
                                        id="rateDropIncludingRBARecentPercentage">2</span>
                                    <input type="text" class="form-control"
                                        id="feedbackIndicationConstructionAdministration"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 align-self-end">
                                <div class="input-group">
                                    <span class="input-group-text fw-semibold"
                                        id="rateDropIncludingRBARecentPercentage">3</span>
                                    <input type="text" class="form-control"
                                        id="feedbackIndicationConstructionAdministration"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 align-self-end">
                                <div class="input-group">
                                    <span class="input-group-text fw-semibold"
                                        id="rateDropIncludingRBARecentPercentage">4</span>
                                    <input type="text" class="form-control"
                                        id="feedbackIndicationConstructionAdministration"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <!-- age of dependents -->
                            <div class="col-12 col-md-6 col-lg-3 align-self-center">
                                <label for="feedbackIndicationConstructionAdministration" class="fw-bold mb-3">Age of
                                    Dependents</label>
                                <div class="input-group">
                                    <span class="input-group-text fw-semibold"
                                        id="rateDropIncludingRBARecentPercentage">1</span>
                                    <input type="text" class="form-control"
                                        id="feedbackIndicationConstructionAdministration"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 align-self-end">
                                <div class="input-group">
                                    <span class="input-group-text fw-semibold"
                                        id="rateDropIncludingRBARecentPercentage">2</span>
                                    <input type="text" class="form-control"
                                        id="feedbackIndicationConstructionAdministration"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 align-self-end">
                                <div class="input-group">
                                    <span class="input-group-text fw-semibold"
                                        id="rateDropIncludingRBARecentPercentage">3</span>
                                    <input type="text" class="form-control"
                                        id="feedbackIndicationConstructionAdministration"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 align-self-end">
                                <div class="input-group">
                                    <span class="input-group-text fw-semibold"
                                        id="rateDropIncludingRBARecentPercentage">4</span>
                                    <input type="text" class="form-control"
                                        id="feedbackIndicationConstructionAdministration"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>

                            <!-- AML result -->
                            <div class="col-12 col-lg-3 align-self-center">
                                <label for="feedbackIndicationFacilityType" class="fw-bold mb-3">AMl Result</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="feedbackIndicationFacilityTypeTermLoan"
                                            id="feedbackIndicationFacilityTypeTermLoan" value="option2">
                                        <label class="form-check-label fw-semibold fw-semibold"
                                            for="feedbackIndicationFacilityTypeTermLoan">Pass</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="feedbackIndicationFacilityTypeTermLoan"
                                            id="feedbackIndicationPortfolioLoan" value="option1">
                                        <label class="form-check-label fw-semibold"
                                            for="feedbackIndicationPortfolioLoan">Fail</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 align-self-end">
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="feedbackIndicationFacilityTypeTermLoan"
                                            id="feedbackIndicationFacilityTypeTermLoan" value="option2">
                                        <label class="form-check-label fw-semibold fw-semibold"
                                            for="feedbackIndicationFacilityTypeTermLoan">Pass</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="feedbackIndicationFacilityTypeTermLoan"
                                            id="feedbackIndicationPortfolioLoan" value="option1">
                                        <label class="form-check-label fw-semibold"
                                            for="feedbackIndicationPortfolioLoan">Fail</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 align-self-end">
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="feedbackIndicationFacilityTypeTermLoan"
                                            id="feedbackIndicationFacilityTypeTermLoan" value="option2">
                                        <label class="form-check-label fw-semibold fw-semibold"
                                            for="feedbackIndicationFacilityTypeTermLoan">Pass</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="feedbackIndicationFacilityTypeTermLoan"
                                            id="feedbackIndicationPortfolioLoan" value="option1">
                                        <label class="form-check-label fw-semibold"
                                            for="feedbackIndicationPortfolioLoan">Fail</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 align-self-end">
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="feedbackIndicationFacilityTypeTermLoan"
                                            id="feedbackIndicationFacilityTypeTermLoan" value="option2">
                                        <label class="form-check-label fw-semibold fw-semibold"
                                            for="feedbackIndicationFacilityTypeTermLoan">Pass</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="feedbackIndicationFacilityTypeTermLoan"
                                            id="feedbackIndicationPortfolioLoan" value="option1">
                                        <label class="form-check-label fw-semibold"
                                            for="feedbackIndicationPortfolioLoan">Fail</label>
                                    </div>
                                </div>
                            </div>































                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Introduction to the customer -->
</main>
<!-- /main -->