<!-- aside navbar -->
<!-- navbar -->
<nav class="navbar navbar-expand-lg shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold text-uppercase text-dark" href="#">Submission Pack</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end fw-semibold" id="navbarNavAltMarkup">
            <div class="navbar-nav ">
                <a class="nav-link active text-dark" aria-current="/home" routerLink="/home">Home</a>
                <a class="nav-link" routerLink="/about">About</a>
                <a class="nav-link" routerLink="/services">Services</a>
                <a class="nav-link" routerLink="/services1">Services</a>
                <a class="nav-link" routerLink="/creditCard">Credit Card</a>
                <a class="nav-link" routerLink="/loan">Loan Mortgages</a>
                <a class="nav-link" routerLink="/hcpcc">Household EPCC</a>
                <a class="nav-link" routerLink="/customer">Customer Declarations</a>
                <a class="nav-link" routerLink="/feedback">Feedback</a>
                <a class="nav-link" routerLink="/infoCustomer">Info Customer</a>
                <a class="nav-link" routerLink="contact">Contact</a>
            </div>
        </div>
    </div>
</nav>
<!-- /navbar -->
<!-- /aside navbar -->
<!-- main -->
<main>
    <!-- Feedback & indications subject to validation -->
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <!--  Feedback & indications subject to validation title -->
                <h1 class="fw-bold mb-3 p-2 sectionBorder">Section 8
                </h1>
                <div class="card p-4 shadow-sm">
                    <!-- Feedback & indications subject to validation sub title  -->
                    <h5 class="fw-bold mb-0 p-1 text-capitalize">Feedback & indications subject to validation</h5>
                    <form class="row">
                        <div class="row g-3">
                            <!-- address-->
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="">
                                    <label for="" class="align-self-center fw-bold text-capitalize mb-3"
                                        for="feedbackIndicationAddress">Address<span class="text-danger">
                                            *</span></label>
                                    <input type="text" class="form-control rounded-start" id="feedbackIndicationAddress"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                    <span class="input-group" id="customerDeclarationCurrentBalancetext"></span>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Feedback & indications subject to validation) -->
</main>
<!-- /main -->