<!-- aside navbar -->
<!-- navbar -->
<nav class="navbar navbar-expand-xxl shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold text-uppercase text-dark" href="#">Submission Pack</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end fw-semibold" id="navbarNavAltMarkup">
            <div class="navbar-nav ">
                <a class="nav-link active text-dark" aria-current="/home" routerLink="/home">Home</a>
                <a class="nav-link" routerLink="/about">About</a>
                <a class="nav-link" routerLink="/services">Services</a>
                <a class="nav-link" routerLink="/services1">Services</a>
                <a class="nav-link" routerLink="/creditCard">Credit Card</a>
                <a class="nav-link" routerLink="/loan">Loan Mortgages</a>
                <a class="nav-link" routerLink="/hcpcc">Household EPCC</a>
                <a class="nav-link" routerLink="/customer">Customer Declarations</a>
                <a class="nav-link" routerLink="/feedback">Feedback</a>
                <a class="nav-link" routerLink="/infoCustomer">Info Customer</a>
                <a class="nav-link" routerLink="/funds">Funds</a>
                <a class="nav-link" routerLink="/security">security</a>
                <a class="nav-link" routerLink="contact">Contact</a>
            </div>
        </div>
    </div>
</nav>
<!-- /navbar -->
<!-- /aside navbar -->
<!-- main -->
<main>
    <!-- security Valuation type -->
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <!-- security Valuation type title -->
                <h1 class="fw-bold mb-3 p-2 sectionBorder">Section 11
                </h1>
                <div class="card p-4 shadow-sm">
                    <!-- security Valuation type sub title  -->
                    <h5 class="fw-bold mb-0 p-1 text-capitalize">security Valuation type</h5>
                    <form class="row">
                        <div class="row g-3">
                            <!-- address -->
                            <div class="col-12 col-md-6 col-lg-3 align-self-center">
                                <label for="securityValuationAddress"
                                    class="fw-bold mb-3 text-capitalize">Address</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="securityValuationAddress"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <!-- PC (S&P) category -->
                            <div class="col-12 col-md-6 col-lg-3 align-self-center">
                                <label for="securityValuationPcCategory" class="fw-bold mb-3 text-capitalize">PC (S&P)
                                    category</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="securityValuationPcCategory"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <!-- Capital -->
                            <div class="col-12 col-md-6 col-lg-3 align-self-center">
                                <label for="securityValuationCapital"
                                    class="fw-bold mb-3 text-capitalize">Capital</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="securityValuationCapital"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <!-- & land size -->
                            <div class="col-12 col-md-6 col-lg-3 align-self-center">
                                <label for="securityValuationAddressLandSize" class="fw-bold mb-3 text-capitalize">&
                                    land size</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="securityValuationAddressLandSize"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <span class="input-group-text fw-semibold"
                                        id="rateDropIncludingRBARecentPercentage">Ha</span>
                                </div>
                            </div>
                            <!-- /address -->
                            <!-- Loan amount -->
                            <div class="col-12 col-md-6 col-lg-3 align-self-center">
                                <label for="securityValuationLoanAmount" class="fw-bold mb-3 text-capitalize">Loan
                                    amount</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="securityValuationLoanAmount"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <!-- LVR -->
                            <div class="col-12 col-md-6 col-lg-3 align-self-center">
                                <label for="securityValuationAddressLVR"
                                    class="fw-bold mb-3 text-capitalize">LVR</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="securityValuationAddressLVR"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <!-- Population -->
                            <div class="col-12 col-md-6 col-lg-3 align-self-center">
                                <label for="securityValuationPopulation"
                                    class="fw-bold mb-3 text-capitalize">Population</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="securityValuationPopulation"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <!-- Green rated -->
                            <div class="col-12 col-md-6 col-lg-3 align-self-center">
                                <label for="securityValuationGreenRated" class="fw-bold mb-3 text-capitalize">Green
                                    rated</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="securityValuationGreenRated"
                                            id="securityValuationGreenRatedYes" value="option2">
                                        <label class="form-check-label fw-semibold"
                                            for="securityValuationGreenRatedYes">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="securityValuationGreenRated"
                                            id="securityValuationGreenRatedNo" value="option2">
                                        <label class="form-check-label fw-semibold text-capitalize"
                                            for="securityValuationGreenRatedNo">No</label>
                                    </div>
                                </div>
                            </div>
                            <!-- Current or proposed name(s) on title -->
                            <div class="col-12 col-md-6 col-lg-4 align-self-center">
                                <label for="securityValuationCurrentProposed"
                                    class="fw-bold mb-3 text-capitalize">Current or proposed name(s) on title</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="securityValuationCurrentProposed"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <!-- Value -->
                            <div class="col-12 col-md-6 col-lg-4 align-self-center">
                                <label for="securityValuationValue" class="fw-bold mb-3">Value</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="securityValuationValue"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <!-- Checked & included -->
                            <div class="col-12 col-md-6 col-lg-4 align-self-center">
                                <label for="securityValuationCheckedIncluded"
                                    class="fw-bold mb-3 text-capitalize">Checked & included</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox"
                                            name="securityValuationCheckedIncluded"
                                            id="securityValuationCheckedIncludedCopyCMA" value="option2">
                                        <label class="form-check-label fw-semibold"
                                            for="securityValuationCheckedIncludedCopyCMA">Copy of CoreLogic CMA
                                            (residential only)</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox"
                                            name="securityValuationCheckedIncluded"
                                            id="securityValuationCheckedIncludedCopyValuation" value="option2">
                                        <label class="form-check-label fw-semibold text-capitalize"
                                            for="securityValuationCheckedIncludedCopyValuation">Copy of valuation
                                            on hand</label>
                                    </div>
                                </div>
                            </div>
                            <!-- paragraph text -->
                            <p class="fw-semibold">Valuation feedback, observation, risk analysis & recommendations must
                                “comment” on any 3, 4 or 5 risk ratings. They are to be read in</p>

                            <!-- conjunction with the section below) -->
                            <div class="col-12 align-self-center">
                                <label for="securityValuationConjuctionSection"
                                    class="fw-bold mb-3 text-capitalize">conjunction with the section below)</label>
                            </div>
                            <!-- Valex reference # -->
                            <div class="col-12 col-md-6 col-lg-6 align-self-center">
                                <label for="securityValuationValex" class="fw-bold mb-3">Valex
                                    reference #</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="securityValuationValex"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <!-- Zoning -->
                            <div class="col-12 col-md-6 col-lg-6 align-self-center">
                                <label for="securityValuationZoning" class="fw-bold mb-3">Zoning</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="securityValuationZoning"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <!-- property risk ratings -->

                            <!-- <div class="col-12 align-self-center">
                                <label for="securityValuation" class="fw-bold mb-3">Property Risk Ratings</label>
                            </div> -->
                            <!-- location & neighbourhood -->
                            <!-- <div class="col-12 col-md-6 col-lg-6 align-self-center">
                                <label for="securityValuationZoning" class="fw-bold mb-3">Location &
                                    Neighbourhood</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="securityValuationGreenRated"
                                            id="securityValuationGreenRatedYes" value="option2">
                                        <label class="form-check-label fw-semibold"
                                            for="securityValuationGreenRatedYes">1</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="securityValuationGreenRated"
                                            id="securityValuationGreenRatedNo" value="option2">
                                        <label class="form-check-label fw-semibold text-capitalize"
                                            for="securityValuationGreenRatedNo">2</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="securityValuationGreenRated"
                                            id="securityValuationGreenRatedNo" value="option2">
                                        <label class="form-check-label fw-semibold text-capitalize"
                                            for="securityValuationGreenRatedNo">3</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="securityValuationGreenRated"
                                            id="securityValuationGreenRatedNo" value="option2">
                                        <label class="form-check-label fw-semibold text-capitalize"
                                            for="securityValuationGreenRatedNo">4</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="securityValuationGreenRated"
                                            id="securityValuationGreenRatedNo" value="option2">
                                        <label class="form-check-label fw-semibold text-capitalize"
                                            for="securityValuationGreenRatedNo">5</label>
                                    </div>
                                </div>
                            </div> -->
                            <!-- land (incl. planning, title) -->
                            <!-- <div class="col-12 col-md-6 col-lg-6 align-self-center">
                                <label for="securityValuationZoning" class="fw-bold mb-3">land (incl. planning,
                                    title)</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="securityValuationGreenRated"
                                            id="securityValuationGreenRatedYes" value="option2">
                                        <label class="form-check-label fw-semibold"
                                            for="securityValuationGreenRatedYes">1</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="securityValuationGreenRated"
                                            id="securityValuationGreenRatedNo" value="option2">
                                        <label class="form-check-label fw-semibold text-capitalize"
                                            for="securityValuationGreenRatedNo">2</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="securityValuationGreenRated"
                                            id="securityValuationGreenRatedNo" value="option2">
                                        <label class="form-check-label fw-semibold text-capitalize"
                                            for="securityValuationGreenRatedNo">3</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="securityValuationGreenRated"
                                            id="securityValuationGreenRatedNo" value="option2">
                                        <label class="form-check-label fw-semibold text-capitalize"
                                            for="securityValuationGreenRatedNo">4</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="securityValuationGreenRated"
                                            id="securityValuationGreenRatedNo" value="option2">
                                        <label class="form-check-label fw-semibold text-capitalize"
                                            for="securityValuationGreenRatedNo">5</label>
                                    </div>
                                </div>
                            </div> -->

                            <div class="col-12  col-lg-6">
                                <div class="row g-3">
                                    <div class="col-12 col-md-6 col-lg-6">
                                        <label class="form-check-label fw-bold text-capitalize"
                                            for="securityValuationGreenRatedNo">Property Risk Ratings</label>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6">
                                        <div class="form-check-inline mx-1">
                                            <label class="form-check-label fw-bold text-capitalize"
                                                for="securityValuationGreenRatedNo">1</label>
                                        </div>
                                        <div class="form-check form-check-inline mx-1">
                                            <label class="form-check-label fw-bold text-capitalize"
                                                for="securityValuationGreenRatedNo">2</label>
                                        </div>
                                        <div class="form-check form-check-inline mx-1">
                                            <label class="form-check-label fw-bold text-capitalize"
                                                for="securityValuationGreenRatedNo">3</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label fw-bold text-capitalize"
                                                for="securityValuationGreenRatedNo">4</label>
                                        </div>
                                        <div class="form-check-inline mx-3">
                                            <label class="form-check-label fw-bold text-capitalize"
                                                for="securityValuationGreenRatedNo">5</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 align-self-center">
                                        <label for="securityValuationZoning" class="fw-semibold">Location &
                                            Neighbourhood</label>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 align-self-center">

                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                name="securityValuationGreenRated" id="securityValuationGreenRatedNo"
                                                value="option2">
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                name="securityValuationGreenRated" id="securityValuationGreenRatedNo"
                                                value="option2">
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                name="securityValuationGreenRated" id="securityValuationGreenRatedNo"
                                                value="option2">
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                name="securityValuationGreenRated" id="securityValuationGreenRatedNo"
                                                value="option2">
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                name="securityValuationGreenRated" id="securityValuationGreenRatedNo"
                                                value="option2">
                                        </div>

                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 align-self-center">
                                        <label for="securityValuationZoning" class="fw-semibold">Land (incl. planning,
                                            title)</label>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 align-self-center">

                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                name="securityValuationGreenRated" id="securityValuationGreenRatedNo"
                                                value="option2">
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                name="securityValuationGreenRated" id="securityValuationGreenRatedNo"
                                                value="option2">
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                name="securityValuationGreenRated" id="securityValuationGreenRatedNo"
                                                value="option2">
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                name="securityValuationGreenRated" id="securityValuationGreenRatedNo"
                                                value="option2">
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                name="securityValuationGreenRated" id="securityValuationGreenRatedNo"
                                                value="option2">
                                        </div>

                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 align-self-center">
                                        <label for="securityValuationZoning" class="fw-semibold">Environmental
                                            Issues</label>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 align-self-center">

                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                name="securityValuationGreenRated" id="securityValuationGreenRatedNo"
                                                value="option2">
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                name="securityValuationGreenRated" id="securityValuationGreenRatedNo"
                                                value="option2">
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                name="securityValuationGreenRated" id="securityValuationGreenRatedNo"
                                                value="option2">
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                name="securityValuationGreenRated" id="securityValuationGreenRatedNo"
                                                value="option2">
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                name="securityValuationGreenRated" id="securityValuationGreenRatedNo"
                                                value="option2">
                                        </div>

                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 align-self-center">
                                        <label for="securityValuationZoning" class="fw-semibold">Improvements</label>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 align-self-center">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                name="securityValuationGreenRated" id="securityValuationGreenRatedNo"
                                                value="option2">
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                name="securityValuationGreenRated" id="securityValuationGreenRatedNo"
                                                value="option2">
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                name="securityValuationGreenRated" id="securityValuationGreenRatedNo"
                                                value="option2">
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                name="securityValuationGreenRated" id="securityValuationGreenRatedNo"
                                                value="option2">
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                name="securityValuationGreenRated" id="securityValuationGreenRatedNo"
                                                value="option2">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 align-self-center">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="customerAMLResultSecond"
                                                id="customerAMLResultSecondPass" value="option2">
                                            <label class="form-check-label fw-semibold fw-semibold"
                                                for="customerAMLResultSecondPass">Purchase</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 align-self-center">
                                        <div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="customerAMLResultSecond" id="customerAMLResultSecondPass"
                                                    value="option2">
                                                <label class="form-check-label fw-semibold fw-semibold"
                                                    for="customerAMLResultSecondPass">Absent Licensed Agent</label>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="row g-3">
                                    <div class="col-12 col-md-6 col-lg-6">
                                        <label class="form-check-label fw-bold text-capitalize"
                                            for="securityValuationGreenRatedNo">Market Risk Ratings</label>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6">
                                        <div>
                                            <div class="form-check-inline mx-1">
                                                <label class="form-check-label fw-bold text-capitalize"
                                                    for="securityValuationGreenRatedNo">1</label>
                                            </div>
                                            <div class="form-check form-check-inline mx-1">
                                                <label class="form-check-label fw-bold text-capitalize"
                                                    for="securityValuationGreenRatedNo">2</label>
                                            </div>
                                            <div class="form-check form-check-inline mx-1">
                                                <label class="form-check-label fw-bold text-capitalize"
                                                    for="securityValuationGreenRatedNo">3</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label fw-bold text-capitalize"
                                                    for="securityValuationGreenRatedNo">4</label>
                                            </div>
                                            <div class="form-check-inline mx-3">
                                                <label class="form-check-label fw-bold text-capitalize"
                                                    for="securityValuationGreenRatedNo">5</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 align-self-center">
                                        <label for="securityValuationZoning" class="fw-semibold">Recent market direction
                                            (price)</label>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 align-self-center">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                name="securityValuationGreenRated" id="securityValuationGreenRatedNo"
                                                value="option2">
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                name="securityValuationGreenRated" id="securityValuationGreenRatedNo"
                                                value="option2">
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                name="securityValuationGreenRated" id="securityValuationGreenRatedNo"
                                                value="option2">
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                name="securityValuationGreenRated" id="securityValuationGreenRatedNo"
                                                value="option2">
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                name="securityValuationGreenRated" id="securityValuationGreenRatedNo"
                                                value="option2">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 align-self-center">
                                        <label for="securityValuationZoning" class="fw-semibold">Market
                                            volatility</label>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 align-self-center">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="securityValuationGreenRated"
                                                    id="securityValuationGreenRatedNo" value="option2">
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="securityValuationGreenRated"
                                                    id="securityValuationGreenRatedNo" value="option2">
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="securityValuationGreenRated"
                                                    id="securityValuationGreenRatedNo" value="option2">
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="securityValuationGreenRated"
                                                    id="securityValuationGreenRatedNo" value="option2">
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="securityValuationGreenRated"
                                                    id="securityValuationGreenRatedNo" value="option2">
                                            </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 align-self-center">
                                        <label for="securityValuationZoning" class="fw-semibold">Local economy
                                            impact</label>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 align-self-center">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="securityValuationGreenRated"
                                                    id="securityValuationGreenRatedNo" value="option2">
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="securityValuationGreenRated"
                                                    id="securityValuationGreenRatedNo" value="option2">
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="securityValuationGreenRated"
                                                    id="securityValuationGreenRatedNo" value="option2">
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="securityValuationGreenRated"
                                                    id="securityValuationGreenRatedNo" value="option2">
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="securityValuationGreenRated"
                                                    id="securityValuationGreenRatedNo" value="option2">
                                            </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 align-self-center">
                                        <label for="securityValuationZoning" class="fw-semibold">Market Segment
                                            Conditions</label>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 align-self-center">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="securityValuationGreenRated"
                                                    id="securityValuationGreenRatedNo" value="option2">
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="securityValuationGreenRated"
                                                    id="securityValuationGreenRatedNo" value="option2">
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="securityValuationGreenRated"
                                                    id="securityValuationGreenRatedNo" value="option2">
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="securityValuationGreenRated"
                                                    id="securityValuationGreenRatedNo" value="option2">
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="securityValuationGreenRated"
                                                    id="securityValuationGreenRatedNo" value="option2">
                                            </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 align-self-center">
                                        <div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="customerAMLResultSecond" id="customerAMLResultSecondPass"
                                                    value="option2">
                                                <label class="form-check-label fw-semibold fw-semibold"
                                                    for="customerAMLResultSecondPass">Fixed For</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 align-self-end">
                                        <div class="input-group">
                                            <span class="input-group-text fw-semibold">Years</span>
                                            <input type="text" class="form-control" aria-label="Recipient's username"
                                                aria-describedby="basic-addon2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div>

                                </div>

                            </div>









                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /security Valuation type -->
</main>
<!-- /main -->