<!-- aside navbar -->
<!-- navbar -->
<nav class="navbar navbar-expand-xxl shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold text-uppercase text-dark" href="#">Submission Pack</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end fw-semibold" id="navbarNavAltMarkup">
            <div class="navbar-nav ">
                <a class="nav-link active text-dark" aria-current="/home" routerLink="/home">Home</a>
                <a class="nav-link" routerLink="/about">About</a>
                <a class="nav-link" routerLink="/services">Services</a>
                <a class="nav-link" routerLink="/services1">Services</a>
                <a class="nav-link" routerLink="/creditCard">Credit Card</a>
                <a class="nav-link" routerLink="/loan">Loan Mortgages</a>
                <a class="nav-link" routerLink="/hcpcc">Household EPCC</a>
                <a class="nav-link" routerLink="/customer">Customer Declarations</a>
                <a class="nav-link" routerLink="/feedback">Feedback</a>
                <a class="nav-link" routerLink="/infoCustomer">Info Customer</a>
                <a class="nav-link" routerLink="/funds">Funds</a>
                <a class="nav-link" routerLink="/security">Security</a>
                <a class="nav-link" routerLink="contact">Contact</a>
            </div>
        </div>
    </div>
</nav>
<!-- /navbar -->
<!-- /aside navbar -->
<!-- main -->
<main>
    <!-- Security Valuation type -->
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <!-- Security Valuation type title -->
                <h1 class="fw-bold mb-3 p-2 sectionBorder">Section 11
                </h1>
                <div class="card p-4 shadow-sm">
                    <!-- Security Valuation type sub title  -->
                    <h5 class="fw-bold mb-0 p-1 text-capitalize">Security Valuation type</h5>
                    <form class="row">
                        <div class="row g-3">
                            <!-- address -->
                            <div class="col-12 col-md-6 col-lg-3 align-self-center">
                                <label for="SecurityValuationAddress"
                                    class="fw-bold mb-3 text-capitalize">Address</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="SecurityValuationAddress"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <!-- PC (S&P) category -->
                            <div class="col-12 col-md-6 col-lg-3 align-self-center">
                                <label for="SecurityValuationPcCategory" class="fw-bold mb-3 text-capitalize">PC (S&P)
                                    category</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="SecurityValuationPcCategory"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <!-- Capital -->
                            <div class="col-12 col-md-6 col-lg-3 align-self-center">
                                <label for="SecurityValuationCapital"
                                    class="fw-bold mb-3 text-capitalize">Capital</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="SecurityValuationCapital"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <!-- & land size -->
                            <div class="col-12 col-md-6 col-lg-3 align-self-center">
                                <label for="SecurityValuationAddressLandSize" class="fw-bold mb-3 text-capitalize">&
                                    land size</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="SecurityValuationAddressLandSize"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <span class="input-group-text fw-semibold"
                                        id="rateDropIncludingRBARecentPercentage">Ha</span>
                                </div>
                            </div>
                            <!-- /address -->
                            <!-- Loan amount -->
                            <div class="col-12 col-md-6 col-lg-3 align-self-center">
                                <label for="SecurityValuationLoanAmount" class="fw-bold mb-3 text-capitalize">Loan
                                    amount</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="SecurityValuationLoanAmount"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <!-- LVR -->
                            <div class="col-12 col-md-6 col-lg-3 align-self-center">
                                <label for="SecurityValuationAddressLVR"
                                    class="fw-bold mb-3 text-capitalize">LVR</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="SecurityValuationAddressLVR"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <!-- Population -->
                            <div class="col-12 col-md-6 col-lg-3 align-self-center">
                                <label for="SecurityValuationPopulation"
                                    class="fw-bold mb-3 text-capitalize">Population</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="SecurityValuationPopulation"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <!-- Green rated -->
                            <div class="col-12 col-md-6 col-lg-3 align-self-center">
                                <label for="SecurityValuationGreenRated" class="fw-bold mb-3 text-capitalize">Green
                                    rated</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="SecurityValuationGreenRated"
                                            id="SecurityValuationGreenRatedYes" value="option2">
                                        <label class="form-check-label fw-semibold"
                                            for="SecurityValuationGreenRatedYes">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="SecurityValuationGreenRated"
                                            id="SecurityValuationGreenRatedNo" value="option2">
                                        <label class="form-check-label fw-semibold text-capitalize"
                                            for="SecurityValuationGreenRatedNo">No</label>
                                    </div>
                                </div>
                            </div>
                            <!-- Current or proposed name(s) on title -->
                            <div class="col-12 col-md-6 col-lg-4 align-self-center">
                                <label for="SecurityValuationCurrentProposed"
                                    class="fw-bold mb-3 text-capitalize">Current or proposed name(s) on title</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="SecurityValuationCurrentProposed"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <!-- Value -->
                            <div class="col-12 col-md-6 col-lg-4 align-self-center">
                                <label for="SecurityValuationValue" class="fw-bold mb-3">Value</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="SecurityValuationValue"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <!-- Checked & included -->
                            <div class="col-12 col-md-6 col-lg-4 align-self-center">
                                <label for="SecurityValuationCheckedIncluded"
                                    class="fw-bold mb-3 text-capitalize">Checked & included</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox"
                                            name="SecurityValuationCheckedIncluded"
                                            id="SecurityValuationCheckedIncludedCopyCMA" value="option2">
                                        <label class="form-check-label fw-semibold"
                                            for="SecurityValuationCheckedIncludedCopyCMA">Copy of CoreLogic CMA
                                            (residential only)</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox"
                                            name="SecurityValuationCheckedIncluded"
                                            id="SecurityValuationCheckedIncludedCopyValuation" value="option2">
                                        <label class="form-check-label fw-semibold text-capitalize"
                                            for="SecurityValuationCheckedIncludedCopyValuation">Copy of valuation
                                            on hand</label>
                                    </div>
                                </div>
                            </div>
                            <!-- paragraph text -->
                            <p class="fw-semibold">Valuation feedback, observation, risk analysis & recommendations must
                                “comment” on any 3, 4 or 5 risk ratings. They are to be read in</p>

                            <!-- conjunction with the section below) -->
                            <div class="col-12 align-self-center">
                                <label for="SecurityValuationConjuctionSection"
                                    class="fw-bold mb-3 text-capitalize">conjunction with the section below)</label>
                            </div>
                            <!-- Valex reference # -->
                            <div class="col-12 col-md-6 col-lg-6 align-self-center">
                                <label for="SecurityValuationValex" class="fw-bold mb-3">Valex
                                    reference #</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="SecurityValuationValex"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <!-- Zoning -->
                            <div class="col-12 col-md-6 col-lg-6 align-self-center">
                                <label for="SecurityValuationZoning" class="fw-bold mb-3">Zoning</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="SecurityValuationZoning"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                </div>
                            </div>














                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Security Valuation type -->
</main>
<!-- /main -->