<!-- aside navbar -->
<aside class="shadow-sm fixed-top" id="aside">
    <div class="row p-4">
        <div class="col-12 d-flex justify-content-center flex-column align-items-center border-bottom pb-3">
            <img src="https://play-lh.googleusercontent.com/ahJtMe0vfOlAu1XJVQ6rcaGrQBgtrEZQefHy7SXB7jpijKhu1Kkox90XDuH8RmcBOXNn=w480-h960-rw"
                alt="Logo" width="60" height="60" class="rounded-circle shadow-sm">
            <div class="text-white mt-2 fw-bold">Application Form</div>
            <small class="text-center text-white">Current Mortgages</small>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="nav flex-column">
                <li class="nav-item mx-3 mb-2">
                    <a class="nav-link text-white" routerLink="/home"><i class="fa-solid fa-house-user"></i><span
                            class="ms-3">Home</span></a>
                </li>
                <li class="nav-item mx-3 mb-2">
                    <a class="nav-link text-white" routerLink="/about"><i class="fa-solid fa-address-card"></i><span
                            class="ms-3">About</span></a>
                </li>
                <li class="nav-item mx-3 mb-2">
                    <a class="nav-link text-white" routerLink="/services"><i class="fa-solid fa-grip-vertical"></i><span
                            class="ms-3">
                            Services</span></a>
                </li>
                <li class="nav-item mx-3 mb-2">
                    <a class="nav-link text-white" routerLink="/services1"><i
                            class="fa-solid fa-grip-vertical"></i><span class="ms-3">Services
                            1</span></a>
                </li>
                <li class="nav-item mx-3 mb-2">
                    <a class="nav-link text-white" routerLink="/creditCard"><i
                            class="fa-solid fa-grip-vertical"></i><span class="ms-3">Credit Card</span></a>
                </li>
                <li class="nav-item mx-3 mb-2">
                    <a class="nav-link text-white" routerLink="/loan"><i class="fa-solid fa-grip-vertical"></i><span
                            class="ms-3">Loan Mortgages</span></a>
                </li>
                <li class="nav-item mx-3 mb-2">
                    <a class="nav-link text-white" routerLink="/hcpcc"><i class="fa-solid fa-grip-vertical"></i><span
                            class="ms-3">Household EPCC</span></a>
                </li>
                <li class="nav-item mx-3 mb-2">
                    <a class="nav-link text-white" routerLink="/customer"><i class="fa-solid fa-grip-vertical"></i><span
                            class="ms-3">Customer Declarations </span></a>
                </li>
                <li class="nav-item mx-3 mb-2">
                    <a class="nav-link text-white" routerLink="Contact"><i class="fa-solid fa-headset"></i><span
                            class="ms-3">Contact</span></a>
                </li>
            </ul>
        </div>
    </div>
</aside>
<!-- /aside navbar -->
<!-- main -->
<main>
    <!-- Customer declarations regarding financial circumstances -->
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <!--  Customer declarations regarding financial circumstances title -->
                <h1 class="fw-bold mb-3 p-2  sectionBorder">Section 7
                </h1>
                <div class="card p-4 shadow-sm">
                    <!-- Customer declarations regarding financial circumstances sub title  -->
                    <h3 class="fw-bold mb-0 p-1 text-capitalize">Customer declarations regarding financial circumstances
                    </h3>
                    <form class="row">
                        <div class="row g-3">
                            <!-- Do you meet your payments -->
                            <div class="col-12">
                                <label class="form-label fw-bold mb-0 text-capitalize" for="loansMortgagesChildcare">Do
                                    you meet your payments/commitments on time every time?
                                    <span class="text-danger"> *</span></label>
                            </div>
                            <div class="col-12">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="loansMortgagesFourToBeRefinanced"
                                        id="loansMortgagesFourToBeRefinancedYes" value="option1">
                                    <label class="form-check-label fw-semibold"
                                        for="loansMortgagesFourToBeRefinancedYes">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="loansMortgagesFourToBeRefinanced"
                                        id="loansMortgagesFourToBeRefinancedNo" value="option2">
                                    <label class="form-check-label fw-semibold"
                                        for="loansMortgagesFourToBeRefinancedNo">No</label>
                                </div>
                            </div>
                            <!-- reduction  income -->
                            <div class="col-12">
                                <label class="form-label fw-bold mb-0 text-capitalize" for="loansMortgagesChildcare">Do
                                    you expect a reduction to your income over the next 3 years?
                                    <span>(e.g. extended leave, retirement, reduction in working hours or
                                        overtime)</span>
                                    <span class="text-danger"> *</span></label>
                            </div>
                            <div class="col-12">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="loansMortgagesFourToBeRefinanced"
                                        id="loansMortgagesFourToBeRefinancedYes" value="option1">
                                    <label class="form-check-label fw-semibold"
                                        for="loansMortgagesFourToBeRefinancedYes">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="loansMortgagesFourToBeRefinanced"
                                        id="loansMortgagesFourToBeRefinancedNo" value="option2">
                                    <label class="form-check-label fw-semibold"
                                        for="loansMortgagesFourToBeRefinancedNo">No</label>
                                </div>
                            </div>
                            <!-- increase expenses -->
                            <div class="col-12">
                                <label class="form-label fw-bold mb-0 text-capitalize" for="loansMortgagesChildcare">Do
                                    you expect an increase in your expenses over the next 3 years
                                    <span>(e.g. due to ill health, disability, end of an interest free period
                                        etc.)</span>
                                    <span class="text-danger"> *</span></label>
                            </div>
                            <div class="col-12">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="loansMortgagesFourToBeRefinanced"
                                        id="loansMortgagesFourToBeRefinancedYes" value="option1">
                                    <label class="form-check-label fw-semibold"
                                        for="loansMortgagesFourToBeRefinancedYes">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="loansMortgagesFourToBeRefinanced"
                                        id="loansMortgagesFourToBeRefinancedNo" value="option2">
                                    <label class="form-check-label fw-semibold"
                                        for="loansMortgagesFourToBeRefinancedNo">No</label>
                                </div>
                            </div>
                            <!-- cash flow/profits -->
                            <div class="col-12">
                                <label class="form-label fw-bold mb-0 text-capitalize" for="loansMortgagesChildcare">Do
                                    you expect a decrease in your cash flow/profits over the next 3 years (e.g. due to
                                    ill health, disability etc.)
                                    <span class="text-danger"> *</span></label>
                            </div>
                            <div class="col-12">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="loansMortgagesFourToBeRefinanced"
                                        id="loansMortgagesFourToBeRefinancedYes" value="option1">
                                    <label class="form-check-label fw-semibold"
                                        for="loansMortgagesFourToBeRefinancedYes">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="loansMortgagesFourToBeRefinanced"
                                        id="loansMortgagesFourToBeRefinancedNo" value="option2">
                                    <label class="form-check-label fw-semibold"
                                        for="loansMortgagesFourToBeRefinancedNo">No</label>
                                </div>
                            </div>
                            <!-- explanation including your strategy to continue to make the repayments. -->
                            <div class="col-12">
                                <div class="row g-3">
                                    <label class="form-label fw-bold mb-0 text-capitalize"
                                        for="loansMortgagesChildcare">If
                                        'Yes' selected for any of the above, please
                                        provide explanation
                                        including your strategy to continue to make the repayments.
                                    </label>
                                    <div>
                                        <textarea class="form-control" id="exampleFormControlTextarea1"
                                            rows="2"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- foreseeable change to circumstances be mitigated? -->
                            <div class="col-6">
                                <label class="form-label fw-bold mb-0 text-capitalize"
                                    for="loansMortgagesCurrentBalance">How will the
                                    foreseeable change to
                                    circumstances be mitigated?
                                    <span class="text-danger"> *</span></label>
                            </div>
                            <div class="col-12">
                                <input class="form-control" type="text" id="applicantOneFirstAndMiddleName"
                                    placeholder="First and middle names" aria-label="name">
                            </div>
                            <!-- exceed your retirement age of 70 -->
                            <div class="col-12">
                                <label class="form-label fw-bold mb-0 text-capitalize"
                                    for="loansMortgagesCurrentBalance">If the loan
                                    term is going to exceed your retirement age of 70, how is it intended that the loan
                                    be repaid without hardship?
                                    <span class="text-danger"> *</span></label>
                            </div>
                            <div class="col-12">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="loansMortgagesFourToBeRefinanced"
                                        id="loansMortgagesFourToBeRefinancedYes" value="option1">
                                    <label class="form-check-label fw-semibold"
                                        for="loansMortgagesFourToBeRefinancedYes">Not Applicable Or</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="loansMortgagesFourToBeRefinanced"
                                        id="loansMortgagesFourToBeRefinancedNo" value="option2">
                                    <label class="form-check-label fw-semibold"
                                        for="loansMortgagesFourToBeRefinancedNo">See Below</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="loansMortgagesFourToBeRefinanced"
                                        id="loansMortgagesFourToBeRefinancedNo" value="option2">
                                    <label class="form-check-label fw-semibold text-capitalize"
                                        for="loansMortgagesFourToBeRefinancedNo">Sale of investment properties other
                                        than owner occupied property</label>
                                </div>
                            </div>
                            <!-- evidence of equity -->
                            <div class="col-12">
                                <label class="form-label fw-bold mb-0 text-capitalize"
                                    for="loansMortgagesCurrentBalance"><span class="text-danger">&#8226;</span> Evidence
                                    of equity (e.g. AVM including
                                    rates
                                    notices & recent loan statements)
                                    <span class="text-danger"> *</span></label>
                            </div>
                            <div class="col-12">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="loansMortgagesFourToBeRefinanced"
                                        id="loansMortgagesFourToBeRefinancedYes" value="option1">
                                    <label class="form-check-label fw-semibold"
                                        for="loansMortgagesFourToBeRefinancedYes">Accessing Superannuation</label>
                                </div>
                            </div>
                            <!-- recent super statements and/or audited SMSF financials -->
                            <div class="col-12">
                                <label class="form-label fw-bold mb-0 text-capitalize"
                                    for="loansMortgagesCurrentBalance">Recent
                                    super statements and/or audited SMSF financials
                                    <span class="text-danger"> *</span></label>
                            </div>
                            <div class="col-12">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="loansMortgagesFourToBeRefinanced"
                                        id="loansMortgagesFourToBeRefinancedYes" value="option1">
                                    <label class="form-check-label fw-semibold text-capitalize"
                                        for="loansMortgagesFourToBeRefinancedYes">Reduction of the loan balance &/or
                                        amortise loan to serviceable levels on post-retirement income</label>
                                </div>
                            </div>




                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /loans (other than mortgages) -->
</main>
<!-- /main -->