.mainApplicationForm {
    background-color: #9781f2;
}

.applicant {
    background-color: #6B6695;
    border-radius: 10px;
}

.applicantOne {
    display: -webkit-inline-box;
}

.maritalD {
    margin-left: 34%;
}

.SkilledInput {
    margin-top: 4%;
}
 
.sectionBorder {
    border-left:5px solid red;
}

.peraFontSize {
    font-size: 14px;
    margin-bottom:0px;
}