<!-- aside navbar -->
<aside class="shadow-sm fixed-top" id="aside">
    <div class="row p-4">
        <div class="col-12 d-flex justify-content-center flex-column align-items-center border-bottom pb-3">
            <img src="https://play-lh.googleusercontent.com/ahJtMe0vfOlAu1XJVQ6rcaGrQBgtrEZQefHy7SXB7jpijKhu1Kkox90XDuH8RmcBOXNn=w480-h960-rw"
                alt="Logo" width="60" height="60" class="rounded-circle shadow-sm">
            <div class="text-white mt-2 fw-bold">Application Form</div>
            <small class="text-center text-white">Current Mortgages</small>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="nav flex-column">
                <li class="nav-item mx-3 mb-2">
                    <a class="nav-link text-white" routerLink="/home"><i class="fa-solid fa-house-user"></i><span
                            class="ms-3">Home</span></a>
                </li>
                <li class="nav-item mx-3 mb-2">
                    <a class="nav-link text-white" routerLink="/about"><i class="fa-solid fa-address-card"></i><span
                            class="ms-3">About</span></a>
                </li>
                <li class="nav-item mx-3 mb-2">
                    <a class="nav-link text-white" routerLink="/services"><i class="fa-solid fa-grip-vertical"></i><span
                            class="ms-3">
                            Services</span></a>
                </li>
                <li class="nav-item mx-3 mb-2">
                    <a class="nav-link text-white" routerLink="/services1"><i
                            class="fa-solid fa-grip-vertical"></i><span class="ms-3">Services
                            1</span></a>
                </li>
                <li class="nav-item mx-3 mb-2">
                    <a class="nav-link text-white" routerLink="/creditCard"><i
                            class="fa-solid fa-grip-vertical"></i><span class="ms-3">Credit Card</span></a>
                </li>
                <li class="nav-item mx-3 mb-2">
                    <a class="nav-link text-white" routerLink="/loan"><i class="fa-solid fa-grip-vertical"></i><span
                            class="ms-3">Loan Mortgages</span></a>
                </li>
                <li class="nav-item mx-3 mb-2">
                    <a class="nav-link text-white" routerLink="Contact"><i class="fa-solid fa-headset"></i><span
                            class="ms-3">Contact</span></a>
                </li>
            </ul>
        </div>
    </div>
</aside>
<!-- /aside navbar -->
<!-- main -->
<main>
    <!-- Loans (other than mortgages) -->
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <!--  loans mortgages title -->
                <h1 class="fw-bold mb-3 p-2  sectionBorder">Section 4 4a 5
                </h1>
                <div class="card p-4 shadow-sm">
                    <!-- loans mortgages sub title  -->
                    <h3 class="fw-bold mb-0 p-1">Loans (other than mortgages)
                    </h3>
                    <form class="row">
                        <div class="row g-3">
                            <!-- loans mortgages financial institution -->
                            <div class="col-12">
                                <label class="form-label fw-bold mb-0" for="LoanMortgagesFinancialInstitution">Name of
                                    Financial Institution
                                    <span class="text-danger"> *</span></label>
                            </div>
                            <div class="col-3">
                                <input class="form-control" type="text" id="LoanMortgagesFinancialInstitution"
                                    placeholder="Loans Financial Institution" aria-label="name">
                            </div>
                            <div class="col-3">
                                <input class="form-control" type="text" id="LoanMortgagesTwoFinancialInstitution"
                                    placeholder="Loans Financial Institution" aria-label="name">
                            </div>
                            <div class="col-3">
                                <input class="form-control" type="text" id="LoanMortgagesThreeFinancialInstitution"
                                    placeholder="Loans Financial Institution" aria-label="name">
                            </div>
                            <div class="col-3">
                                <input class="form-control" type="text" id="LoanMortgagesFourFinancialInstitution"
                                    placeholder="Loans Financial Institution" aria-label="name">
                            </div>
                            <!-- loans mortgages financial institution -->
                            <!-- loans mortgages account number -->
                            <div class="col-12">
                                <label class="form-label fw-bold mb-0" for="loansMortgagesLoanType">Loan Type
                                    (personal loan, car
                                    loan, lease, etc.)<span class="text-danger"> *</span></label>
                            </div>
                            <div class="col-3">
                                <input class="form-control" type="text" id="loansMortgagesLoanType"
                                    placeholder="Loan Type" aria-label="name">
                            </div>
                            <div class="col-3">
                                <input class="form-control" type="text" id="loansMortgagesTwoLoanType"
                                    placeholder="Loan Type" aria-label="name">
                            </div>
                            <div class="col-3">
                                <input class="form-control" type="text" id="loansMortgagesThreeLoanType"
                                    placeholder="Loan Type" aria-label="name">
                            </div>
                            <div class="col-3">
                                <input class="form-control" type="text" id="loansMortgagesFourLoanType"
                                    placeholder="Loan Type" aria-label="name">
                            </div>
                            <!-- loans mortgages account number -->
                            <!-- Account number: -->
                            <div class="col-12">
                                <label class="form-label fw-bold mb-0" for="loansMortgagesAccountNumber">Account
                                    number<span class="text-danger"> *</span></label>
                            </div>
                            <div class="col-3">
                                <input class="form-control" type="text" id="loansMortgagesAccountNumber"
                                    placeholder="Loan Account Number" aria-label="name">
                            </div>
                            <div class="col-3">
                                <input class="form-control" type="text" id="loansMortgagesTwoAccountNumber"
                                    placeholder="Loan Account Number" aria-label="name">
                            </div>
                            <div class="col-3">
                                <input class="form-control" type="text" id="loansMortgagesThreeAccountNumber"
                                    placeholder="Loan Account Number" aria-label="name">
                            </div>
                            <div class="col-3">
                                <input class="form-control" type="text" id="loansMortgagesFourAccountNumber"
                                    placeholder="Loan Account Number" aria-label="name">
                            </div>
                            <!-- monthly repayment: -->
                            <div class="col-12">
                                <label class="form-label fw-bold mb-0" for="loansMortgagesAccountNumber">Monthly
                                    Repayment<span class="text-danger"> *</span></label>
                            </div>
                            <div class="col-3">
                                <input class="form-control" type="text" id="loansMortgagesAccountNumber"
                                    placeholder="Loan Account Number" aria-label="name">
                            </div>
                            <div class="col-3">
                                <input class="form-control" type="text" id="loansMortgagesTwoAccountNumber"
                                    placeholder="Loan Account Number" aria-label="name">
                            </div>
                            <div class="col-3">
                                <input class="form-control" type="text" id="loansMortgagesThreeAccountNumber"
                                    placeholder="Loan Account Number" aria-label="name">
                            </div>
                            <div class="col-3">
                                <input class="form-control" type="text" id="loansMortgagesFourAccountNumber"
                                    placeholder="Loan Account Number" aria-label="name">
                            </div>
                            <!-- /monthly repayment -->
                            <!-- amount currently owing: -->
                            <div class="col-12">
                                <label class="form-label fw-bold mb-0" for="loansMortgagesAccountNumber">Amount
                                    Currently Owing<span class="text-danger"> *</span></label>
                            </div>
                            <div class="col-3">
                                <input class="form-control" type="text" id="loansMortgagesAccountNumber"
                                    placeholder="Loan Account Number" aria-label="name">
                            </div>
                            <div class="col-3">
                                <input class="form-control" type="text" id="loansMortgagesTwoAccountNumber"
                                    placeholder="Loan Account Number" aria-label="name">
                            </div>
                            <div class="col-3">
                                <input class="form-control" type="text" id="loansMortgagesThreeAccountNumber"
                                    placeholder="Loan Account Number" aria-label="name">
                            </div>
                            <div class="col-3">
                                <input class="form-control" type="text" id="loansMortgagesFourAccountNumber"
                                    placeholder="Loan Account Number" aria-label="name">
                            </div>
                            <!-- current interest rate -->
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0" for="loansMortgagesAccountNumber">Current
                                    Interest Rate<span class="text-danger"> *</span></label>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0" for="loansMortgagesAccountNumber">Current
                                    Interest Rate</label>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0" for="loansMortgagesAccountNumber">Current
                                    Interest Rate</label>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0" for="loansMortgagesAccountNumber">Current
                                    Interest Rate</label>
                            </div>
                            <div class="col-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Current Interest Rate"
                                        name="currentMortgagesCurrentInterestRate"
                                        id="currentMortgagesCurrentInterestRate" aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                    <span class="input-group-text fw-semibold" id="basic-addon2">% Fixed</span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Current Interest Rate"
                                        name="currentMortgagesCurrentInterestRate"
                                        id="currentMortgagesCurrentInterestRate" aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                    <span class="input-group-text fw-semibold" id="basic-addon2">% Fixed</span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Current Interest Rate"
                                        name="currentMortgagesCurrentInterestRate"
                                        id="currentMortgagesCurrentInterestRate" aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                    <span class="input-group-text fw-semibold" id="basic-addon2">% Fixed</span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Current Interest Rate"
                                        name="currentMortgagesCurrentInterestRate"
                                        id="currentMortgagesCurrentInterestRate" aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                    <span class="input-group-text fw-semibold" id="basic-addon2">% Fixed</span>
                                </div>
                            </div>

                            <!--  -->
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0" for="loansMortgagesAccountNumber">OR<span
                                        class="text-danger"> *</span></label>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0" for="loansMortgagesAccountNumber">OR</label>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0" for="loansMortgagesAccountNumber">OR</label>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0" for="loansMortgagesAccountNumber">OR</label>
                            </div>
                            <div class="col-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Current Interest Rate"
                                        name="currentMortgagesCurrentInterestRate"
                                        id="currentMortgagesCurrentInterestRate" aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                    <span class="input-group-text fw-semibold" id="basic-addon2">% Variable</span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Current Interest Rate"
                                        name="currentMortgagesCurrentInterestRate"
                                        id="currentMortgagesCurrentInterestRate" aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                    <span class="input-group-text fw-semibold" id="basic-addon2">% Fixed</span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Current Interest Rate"
                                        name="currentMortgagesCurrentInterestRate"
                                        id="currentMortgagesCurrentInterestRate" aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                    <span class="input-group-text fw-semibold" id="basic-addon2">% Fixed</span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Current Interest Rate"
                                        name="currentMortgagesCurrentInterestRate"
                                        id="currentMortgagesCurrentInterestRate" aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                    <span class="input-group-text fw-semibold" id="basic-addon2">% Fixed</span>
                                </div>
                            </div>
                            <!--  -->
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0" for="loansMortgagesAccountNumber">To Be
                                    Refinanced?<span class="text-danger"> *</span></label>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0" for="loansMortgagesAccountNumber">To Be
                                    Refinanced?</label>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0" for="loansMortgagesAccountNumber">To Be
                                    Refinanced?</label>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0" for="loansMortgagesAccountNumber">To Be
                                    Refinanced?</label>
                            </div>
                            <div class="col-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="currentMortgagesSecondDeductibleInterestTwo"
                                        id="currentMortgagesSecondDeductibleYesTwo" value="option1">
                                    <label class="form-check-label fw-semibold"
                                        for="currentMortgagesSecondDeductibleYesTwo">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="currentMortgagesSecondDeductibleInterestTwo"
                                        id="currentMortgagesSecondDeductibleNoTwo" value="option2">
                                    <label class="form-check-label fw-semibold"
                                        for="currentMortgagesSecondDeductibleNoTwo">No</label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="currentMortgagesSecondDeductibleInterestTwo"
                                        id="currentMortgagesSecondDeductibleYesTwo" value="option1">
                                    <label class="form-check-label fw-semibold"
                                        for="currentMortgagesSecondDeductibleYesTwo">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="currentMortgagesSecondDeductibleInterestTwo"
                                        id="currentMortgagesSecondDeductibleNoTwo" value="option2">
                                    <label class="form-check-label fw-semibold"
                                        for="currentMortgagesSecondDeductibleNoTwo">No</label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="currentMortgagesSecondDeductibleInterestTwo"
                                        id="currentMortgagesSecondDeductibleYesTwo" value="option1">
                                    <label class="form-check-label fw-semibold"
                                        for="currentMortgagesSecondDeductibleYesTwo">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="currentMortgagesSecondDeductibleInterestTwo"
                                        id="currentMortgagesSecondDeductibleNoTwo" value="option2">
                                    <label class="form-check-label fw-semibold"
                                        for="currentMortgagesSecondDeductibleNoTwo">No</label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="currentMortgagesSecondDeductibleInterestTwo"
                                        id="currentMortgagesSecondDeductibleYesTwo" value="option1">
                                    <label class="form-check-label fw-semibold"
                                        for="currentMortgagesSecondDeductibleYesTwo">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"
                                        name="currentMortgagesSecondDeductibleInterestTwo"
                                        id="currentMortgagesSecondDeductibleNoTwo" value="option2">
                                    <label class="form-check-label fw-semibold"
                                        for="currentMortgagesSecondDeductibleNoTwo">No</label>
                                </div>
                            </div>



                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /section 3 3b 3c -->
</main>
<!-- /main -->