<section class=mainApplicationForm>
    <div class="container-fluid py-5">
        <div class="row">
            <div class="col-12">
                <div class="card p-3 shadow-sm">
                    <form class="row">
                        <!--applicant-->
                        <div class="col-6">
                            <h5 class="text-center text-white p-2 applicant">Applicant one</h5>
                            <div class="row g-2">
                                <div class="col-12">
                                    <label class="form-label fw-bold">Title <span class="text-danger">*</span></label>
                                </div>
                                <div class="col-12 d-flex align-items-center gap-2">
                                    <!--title-->
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="applicationOneCheckBox"
                                            id="applicantOneTitleMr">
                                        <label class="form-check-label mb-0 fw-semibold" for="applicantOneTitleMr">
                                            Mr
                                        </label>
                                    </div>
                                    <!--/title-->
                                    <!--title-->
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="applicationOneCheckBox"
                                            id="applicantOneTitleMrs">
                                        <label class="form-check-label mb-0 fw-semibold" for="applicantOneTitleMrs">
                                            Mrs
                                        </label>
                                    </div>
                                    <!--/title-->
                                    <!--title-->
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="applicationOneCheckBox"
                                            id="applicantOneTitleMiss">
                                        <label class="form-check-label mb-0 fw-semibold" for="applicantOneTitleMiss">
                                            Miss
                                        </label>
                                    </div>
                                    <!--/title-->
                                    <!--title-->
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="applicationOneCheckBox"
                                            id="applicantOneTitleMs">
                                        <label class="form-check-label mb-0 fw-semibold" for="applicantOneTitleMs">
                                            Ms
                                        </label>
                                    </div>
                                    <!--/title-->
                                    <!--title-->
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="applicationOneCheckBox"
                                            id="applicantOneTitleMr1">
                                        <label class="form-check-label mb-0 fw-semibold" for="applicantOneTitleMr1">
                                            Dr
                                        </label>
                                    </div>
                                    <!--/title-->
                                </div>
                            </div>
                            <!-- firstName or Middle Name input -->
                            <div class="row g-2 mt-2">
                                <div class="col-12">
                                    <label class="form-label fw-bold" for="applicationOneFirstName">First and middle
                                        names:
                                        <span class="text-danger">*</span></label>
                                </div>
                                <div class="col-12 d-flex align-items-center gap-2">
                                    <!--title-->
                                    <input type="text" name="applicationOneFirstName" class="form-control"
                                        id="applicationOneFirstName" />
                                    <!--/title-->
                                </div>
                            </div>
                            <!-- /firstName or Middle Name input -->
                            <!-- surName input -->
                            <div class="row g-2 mt-2">
                                <div class="col-12">
                                    <label class="form-label fw-bold" for="applicationOneSurName">Surname: <span
                                            class="text-danger">*</span></label>
                                </div>
                                <div class="col-12 d-flex align-items-center gap-2">
                                    <!--title-->
                                    <input type="text" name="applicationOneSurName" id="applicationOneSurName"
                                        class="form-control">
                                    <!--/title-->
                                </div>
                            </div>
                            <!-- /surName input input -->
                            <!-- Previous name input -->
                            <div class="row g-2 mt-2">
                                <div class="col-12">
                                    <label class="form-label fw-bold" for="applicationOnePerviousName">Previous name (if
                                        any):
                                        <span class="text-danger">*</span></label>
                                </div>
                                <div class="col-12 d-flex align-items-center gap-2">
                                    <!--title-->
                                    <input type="text" name="applicationOnePerviousName" id="applicationOnePerviousName"
                                        class="form-control">
                                    <!--/title-->
                                </div>
                            </div>
                            <!-- /Previous name input -->
                            <!-- Occupation & industry input-->
                            <div class="row g-2 mt-2">
                                <div class="col-12">
                                    <label class="form-label fw-bold" for="applicationOneOccupationIndustry">Occupation
                                        & industry :
                                        <span class="text-danger">*</span></label>
                                </div>
                                <div class="col-6 d-flex align-items-center gap-2">
                                    <!--title-->
                                    <input type="text" name="applicationOneOccupationIndustry"
                                        id="applicationOneOccupationIndustry" class="form-control">
                                    <!--/title-->
                                </div>
                                <div class="col-6 d-flex align-items-center gap-2">
                                    <!--title-->
                                    <input type="text" name="applicationOneOccupationIndustry"
                                        id="applicationOneIndustry" class="form-control">
                                    <!--/title-->
                                </div>
                            </div>
                            <!-- /Occupation & industry  input -->
                            <!-- Australian address input -->
                            <div class="row g-2 mt-2">
                                <div class="col-12">
                                    <label class="form-label fw-bold" for="applicationOneAustralianAddress">Australian
                                        address:
                                        <span class="text-danger">*</span></label>
                                </div>
                                <div class="col-12 d-flex align-items-center gap-2">
                                    <!--title-->
                                    <input type="text" name="applicationOneAustralianAddress"
                                        id="applicationOneAustralianAddress" class="form-control">
                                    <!--/title-->
                                </div>
                            </div>
                            <!-- /Australian address input -->
                            <!-- Previous address input -->
                            <div class="row g-2 mt-2">
                                <div class="col-12">
                                    <label class="form-label fw-bold" for="applicationOnePerviousAddress">Previous
                                        address details:
                                        (if less than 3 years)
                                        <span class="text-danger">*</span></label>
                                </div>
                                <div class="col-12 d-flex align-items-center gap-2">
                                    <!--title-->
                                    <input type="text" name="applicationOnePerviousAddress"
                                        id="applicationOnePerviousAddress" class="form-control">
                                    <!--/title-->
                                </div>
                            </div>
                            <!-- /Previous address input -->
                            <!-- Offshore address input -->
                            <div class="row g-2 mt-2">
                                <div class="col-12">
                                    <label class="form-label fw-bold" for="applicationOneOffShoreAddress">Offshore
                                        address:
                                        <span class="text-danger">*</span></label>
                                </div>
                                <div class="col-12 d-flex align-items-center gap-2">
                                    <!--title-->
                                    <input type="text" name="applicationOneOffShoreAddress"
                                        id="applicationOneOffShoreAddress" class="form-control">
                                    <!--/title-->
                                </div>
                            </div>
                            <!-- /Offshore address input -->
                            <!-- Marital status checkbox -->
                            <div class="row mt-2">
                                <div class="col-12">
                                    <label class="form-label fw-bold">Marital status: <span
                                            class="text-danger">*</span></label>
                                </div>
                                <div class="col-12 d-flex align-items-center gap-5">
                                    <!--title-->
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="applicationMaritalCheckBox"
                                            id="applicationOneMaritalStatus">
                                        <label class="form-check-label mb-0 fw-semibold"
                                            for="applicationOneMaritalStatus">
                                            Married to
                                        </label>
                                    </div>
                                    <!--/title-->
                                    <!--title-->
                                    <div class="form-check maritalD">
                                        <input class="form-check-input" type="radio" name="applicationMaritalCheckBox"
                                            id="applicationOneMaritalStatuss">
                                        <label class="form-check-label mb-0 fw-semibold"
                                            for="applicationOneMaritalStatuss">
                                            Divorced & remarried to
                                        </label>
                                    </div>
                                    <!--/title-->
                                </div>
                                <div class="col-12 d-flex align-items-center gap-2">
                                    <!--title-->
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="applicationNonCheckBox"
                                            id="applicationOneNonApplicant">
                                        <label class="form-check-label mb-0 fw-semibold"
                                            for="applicationOneNonApplicant">
                                            Non applicant
                                        </label>
                                    </div>
                                    <!--/title-->
                                    <!--title-->
                                    <div class="form-check mx-auto">
                                        <input class="form-check-input" type="radio" name="applicationNonCheckBox"
                                            id="applicationOneNonApplicants">
                                        <label class="form-check-label mb-0 fw-semibold"
                                            for="applicationOneNonApplicants">
                                            Non applicant
                                        </label>
                                    </div>
                                    <!--/title-->
                                </div>
                                <div class="col-12 d-flex align-items-center gap-2">
                                    <!--title-->
                                    <div class="form-check gap-2 applicantOne input-group-sm">
                                        <input class="form-check-input" type="radio" name="applicant"
                                            id="applicationOneApplicant">
                                        <label class="form-check-label mb-0 fw-semibold col-form-label"
                                            for="applicationOneApplicant">
                                            Applicant #
                                        </label>
                                        <input type="text" class="form-control" />
                                    </div>
                                    <!--/title-->
                                    <!--title-->
                                    <div class="form-check mx-auto gap-2 applicantOne input-group-sm">
                                        <input class="form-check-input" type="radio" name="applicant"
                                            id="applicationOneApplicants">
                                        <label class="form-check-label mb-0 fw-semibold col-form-label"
                                            for="applicationOneApplicants">
                                            Applicant #
                                        </label>
                                        <input type="text" class="form-control" />

                                    </div>
                                    <!--/title-->
                                </div>
                                <div class="col-12 d-flex align-items-center gap-2">
                                    <!--title-->
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="applicationInput"
                                            id="applicationOneNonApplicantUpdate">
                                        <label class="form-check-label mb-0 fw-semibold"
                                            for="applicationOneNonApplicantUpdate">
                                            Applicant to be input (updated once selected)
                                        </label>
                                    </div>
                                    <!--/title-->
                                    <!--title-->
                                    <div class="form-check mx-auto">
                                        <input class="form-check-input" type="radio" name="applicationInput"
                                            id="applicationOneNonApplicantUpdates">
                                        <label class="form-check-label mb-0 fw-semibold"
                                            for="applicationOneNonApplicantUpdates">
                                            Applicant to be input (updated once selected)
                                        </label>
                                    </div>
                                    <!--/title-->
                                </div>
                                <div class="col-12 d-flex align-items-center gap-2">
                                    <!--title-->
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="applicationOneEngaged"
                                            id="applicationOneEngaged">
                                        <label class="form-check-label mb-0 fw-semibold" for="applicationOneEngaged">
                                            Engaged to
                                        </label>
                                    </div>
                                    <!--/title-->
                                    <!--title-->
                                    <div class="form-check mx-auto">
                                        <input class="form-check-input" type="radio" name="applicationOneEngaged"
                                            id="applicationOneDeFacto">
                                        <label class="form-check-label mb-0 fw-semibold" for="applicationOneDeFacto">
                                            De facto to
                                        </label>
                                    </div>
                                    <!--/title-->
                                </div>
                                <div class="col-12 d-flex align-items-center gap-2">
                                    <!--title-->
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="applicationOneNApplicant"
                                            id="applicationOneNApplicant">
                                        <label class="form-check-label mb-0 fw-semibold" for="applicationOneNApplicant">
                                            Non applicant
                                        </label>
                                    </div>
                                    <!--/title-->
                                    <!--title-->
                                    <div class="form-check mx-auto">
                                        <input class="form-check-input" type="radio" name="applicationOneNApplicant"
                                            id="applicationOneNoApplicant">
                                        <label class="form-check-label mb-0 fw-semibold"
                                            for="applicationOneNoApplicant">
                                            Non applicant
                                        </label>
                                    </div>
                                    <!--/title-->
                                </div>
                                <div class="col-12 d-flex align-items-center gap-2">
                                    <!--title-->
                                    <div class="form-check gap-2 applicantOne input-group-sm">
                                        <input class="form-check-input" type="radio" name="applicantOneFormHash"
                                            id="applicantOneFormHash">
                                        <label class="form-check-label mb-0 fw-semibold col-form-label"
                                            for="applicantOneFormHash">
                                            Applicant #
                                        </label>
                                        <input type="text" class="form-control" />
                                    </div>
                                    <!--/title-->
                                    <!--title-->
                                    <div class="form-check mx-auto gap-2 applicantOne input-group-sm">
                                        <input class="form-check-input" type="radio" name="applicantOneFormHash"
                                            id="applicationOneApplicantsHash">
                                        <label class="form-check-label mb-0 fw-semibold col-form-label"
                                            for="applicationOneApplicantsHash">
                                            Applicant #
                                        </label>
                                        <input type="text" class="form-control" />

                                    </div>
                                    <!--/title-->
                                </div>
                                <div class="col-12 d-flex align-items-center gap-2">
                                    <!--title-->
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="applicationOneToBeInput"
                                            id="applicationOneToInput">
                                        <label class="form-check-label mb-0 fw-semibold" for="applicationOneToInput">
                                            Applicant to be input (updated once selected)
                                        </label>
                                    </div>
                                    <!--/title-->
                                    <!--title-->
                                    <div class="form-check mx-auto">
                                        <input class="form-check-input" type="radio" name="applicationOneToBeInput"
                                            id="applicationOneToBeInput">
                                        <label class="form-check-label mb-0 fw-semibold" for="applicationOneToBeInput">
                                            Applicant to be input (updated once selected)
                                        </label>
                                    </div>
                                    <!--/title-->
                                </div>
                            </div>
                            <!-- /Marital status checkbox -->
                            <!-- Residential status  -->
                            <div class="row mt-2">
                                <div class="col-12">
                                    <label class="form-label fw-bold">Residential status:: <span
                                            class="text-danger">*</span></label>
                                </div>
                                <div class="col-12 d-flex align-items-center gap-5">
                                    <!--title-->
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio"
                                            name="applicationOneAustralianCitizen" id="applicationOneAustralianCitizen">
                                        <label class="form-check-label mb-0 fw-semibold"
                                            for="applicationOneAustralianCitizen">
                                            Australian citizen
                                        </label>
                                    </div>
                                    <!--/title-->
                                    <!--title-->
                                    <div class="form-check mx-auto">
                                        <input class="form-check-input" type="radio"
                                            name="applicationOneAustralianCitizen" id="applicationOnePermanentResident">
                                        <label class="form-check-label mb-0 fw-semibold"
                                            for="applicationOnePermanentResident">
                                            Permanent resident
                                        </label>
                                    </div>
                                    <!--/title-->
                                </div>
                                <!-- temporary resident -->
                                <div class="col-12 d-flex align-items-center gap-5">
                                    <!--title-->
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio"
                                            name="applicationOneTemporaryResident" id="applicationOneTemporaryResident">
                                        <label class="form-check-label mb-0 fw-semibold"
                                            for="applicationOneTemporaryResident">
                                            Temporary resident
                                        </label>
                                    </div>
                                    <!-- /temporary resident -->
                                    <!-- non resident -->
                                    <div class="form-check mx-auto">
                                        <input class="form-check-input" type="radio"
                                            name="applicationOneTemporaryResident"
                                            id="applicationOneNonTemporaryResident">
                                        <label class="form-check-label mb-0 fw-semibold"
                                            for="applicationOneNonTemporaryResident">
                                            Non resident
                                        </label>
                                    </div>
                                </div>
                                <!-- non resident -->
                                <!--  Expatriate -->
                                <div class="col-12 d-flex align-items-center gap-5">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="applicationOneExpatriate"
                                            id="applicationOneExpatriate">
                                        <label class="form-check-label mb-0 fw-semibold" for="applicationOneExpatriate">
                                            Expatriate
                                        </label>
                                    </div>
                                </div>
                                <!-- / Expatriate -->
                                <!-- skilled migrant visa -->
                                <div class="col-12 d-flex">
                                    <div class="form-check d-flex">
                                        <input class="form-check-input SkilledInput" type="radio"
                                            name="applicationOneSkilledMigrant" id="applicationOneSkilledMigrant">
                                        <label for="applicationOneSkilledMigrant"
                                            class="col-form-label mx-2 fw-semibold mt-0">Skilled migrant visa
                                            subclass reference number:</label>
                                        <div>
                                            <input type="text" class="form-control" name="applicationOneSkilledMigrant"
                                                id="applicationOneSkilledMigrantVisa">
                                        </div>
                                    </div>
                                </div>
                                <!-- /skilled migrant visa  -->
                                <!-- FIRB approved -->
                                <div class="col-12 ">
                                    <div class="form-check d-flex">
                                        <label class="form-check-label mb-0 fw-semibold" for="applicationOneExpatriate">
                                            Expatriate
                                        </label>
                                        <div class="mx-auto">
                                            <input class="form-check-input" type="radio" name="applicationOneExpatriate"
                                                id="applicationOneExpatriate">
                                            <label class="form-check-label mb-0 fw-semibold"
                                                for="applicationOneExpatriate"> Yes</label>
                                        </div>
                                        <div>
                                            <input class="form-check-input" type="radio" name="applicationOneExpatriate"
                                                id="applicationOneExpatriate">
                                            <label class="form-check-label mb-0 fw-semibold"
                                                for="applicationOneExpatriate"> Yes</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- FIRB approved -->
                                <!-- date and place birth -->
                                <div class="col-12 ">
                                    <div class="form-check d-flex">
                                        <label class="form-check-label mb-0 fw-semibold col-form-label"
                                            for="applicationOneExpatriate">
                                            Date & place of birth:
                                        </label>
                                        <div class="mx-auto">
                                            <input type="text" class="form-control" name="applicationOneSkilledMigrant"
                                                id="applicationOneSkilledMigrantVisa">
                                        </div>
                                        <div>
                                            <input type="text" class="form-control" name="applicationOneSkilledMigrant"
                                                id="applicationOneSkilledMigrantVisa">
                                        </div>
                                    </div>
                                </div>
                                <!-- date and place birth -->
                                <!-- drivers licence number -->
                                <div class="col-12 gap-5">
                                    <div class="form-check d-flex">
                                        <label class="form-check-label mb-0 fw-semibold col-form-label"
                                            for="applicationOneExpatriate">
                                            Drivers licence number:
                                        </label>
                                        <div class="mx-auto">
                                            <input type="text" class="form-control" name="applicationOneSkilledMigrant"
                                                id="applicationOneSkilledMigrantVisa">
                                        </div>
                                        <label class="form-check-label mb-0 fw-semibold col-form-label"
                                            for="applicationOneExpatriate">
                                            expiry date
                                        </label>
                                        <div>

                                            <input type="text" class="form-control" name="applicationOneSkilledMigrant"
                                                id="applicationOneSkilledMigrantVisa">
                                        </div>
                                    </div>
                                </div>
                                <!-- drivers licence number -->
                            </div>
                            <!-- Residential status  -->
                        </div>
                        <!--/applicant-->


                        <!--applicant-->
                        <div class="col-6">
                            <h5 class="text-center text-white p-2 mb-2 applicant">Applicant two
                            </h5>
                            <div class="row g-2">
                                <div class="col-12">
                                    <label class="form-label fw-bold">Title <span class="text-danger">*</span></label>
                                </div>
                                <div class="col-12 d-flex align-items-center gap-2">
                                    <!--title-->
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="applicationCheckBox"
                                            id="applicantOneTitleMr">
                                        <label class="form-check-label mb-0 fw-semibold" for="applicantOneTitleMr">
                                            Mr
                                        </label>
                                    </div>
                                    <!--/title-->
                                    <!--title-->
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="applicationCheckBox"
                                            id="applicantOneTitleMrs">
                                        <label class="form-check-label mb-0 fw-semibold" for="applicantOneTitleMrs">
                                            Mrs
                                        </label>
                                    </div>
                                    <!--/title-->
                                    <!--title-->
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="applicationCheckBox"
                                            id="applicantOneTitleMiss">
                                        <label class="form-check-label mb-0 fw-semibold" for="applicantOneTitleMiss">
                                            Miss
                                        </label>
                                    </div>
                                    <!--/title-->
                                    <!--title-->
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="applicationCheckBox"
                                            id="applicantOneTitleMs">
                                        <label class="form-check-label mb-0 fw-semibold" for="applicantOneTitleMs">
                                            Ms
                                        </label>
                                    </div>
                                    <!--/title-->
                                    <!--title-->
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="applicationCheckBox"
                                            id="applicantOneTitleMr1">
                                        <label class="form-check-label mb-0 fw-semibold" for="applicantOneTitleMr1">
                                            Dr
                                        </label>
                                    </div>
                                    <!--/title-->
                                </div>
                            </div>
                            <!-- firstName or Middle Name input -->
                            <div class="row g-2 mt-2">
                                <div class="col-12">
                                    <label class="form-label fw-bold" for="applicationTwoFirstName">First and middle
                                        names:
                                        <span class="text-danger">*</span></label>
                                </div>
                                <div class="col-12 d-flex align-items-center gap-2">
                                    <!--title-->
                                    <input type="text" name="applicationTwoFirstName" id="applicationTwoFirstName"
                                        class="form-control">
                                    <!--/title-->
                                </div>
                            </div>
                            <!-- /firstName or Middle Name input -->
                            <!-- surName input -->
                            <div class="row g-2 mt-2">
                                <div class="col-12">
                                    <label class="form-label fw-bold" for="applicationTwoSurName">Surname: <span
                                            class="text-danger">*</span></label>
                                </div>
                                <div class="col-12 d-flex align-items-center gap-2">
                                    <!--title-->
                                    <input type="text" name="applicationTwoSurName" id="applicationTwoSurName"
                                        class="form-control">
                                    <!--/title-->
                                </div>
                            </div>
                            <!-- /surName input -->
                            <!-- Previous name input -->
                            <div class="row g-2 mt-2">
                                <div class="col-12">
                                    <label class="form-label fw-bold" for="applicationTwoPerviousName">Previous name (if
                                        any):
                                        <span class="text-danger">*</span></label>
                                </div>
                                <div class="col-12 d-flex align-items-center gap-2">
                                    <!--title-->
                                    <input type="text" name="applicationTwoPerviousName" id="applicationTwoPerviousName"
                                        class="form-control">
                                    <!--/title-->
                                </div>
                            </div>
                            <!-- /Previous name input -->
                            <!-- Occupation & industry input-->
                            <div class="row g-2 mt-2">
                                <div class="col-12">
                                    <label class="form-label fw-bold" for="applicationTwoOccupationIndustry">Occupation
                                        &
                                        industry :
                                        <span class="text-danger">*</span></label>
                                </div>
                                <div class="col-6 d-flex align-items-center gap-2">
                                    <!--title-->
                                    <input type="text" name="applicationTwoOccupationIndustry" O
                                        id="applicationTwoOccupationInd" class="form-control">
                                    <!--/title-->
                                </div>
                                <div class="col-6 d-flex align-items-center gap-2">
                                    <!--title-->
                                    <input type="text" name="applicationOccupationIndustry" O
                                        id="applicationTwoOccupationIndustry" class="form-control">
                                    <!--/title-->
                                </div>
                            </div>
                            <!-- /Occupation & industry  input -->
                            <!-- Australian address input -->
                            <div class="row g-2 mt-2">
                                <div class="col-12">
                                    <label class="form-label fw-bold" for="applicationTwoAustralianAddress">Australian
                                        address:
                                        <span class="text-danger">*</span></label>
                                </div>
                                <div class="col-12 d-flex align-items-center gap-2">
                                    <!--title-->
                                    <input type="text" name="applicationTwoAustralianAddress"
                                        id="applicationTwoAustralianAddress" class="form-control">
                                    <!--/title-->
                                </div>
                            </div>
                            <!-- /Australian address input -->
                            <!-- Previous address input -->
                            <div class="row g-2 mt-2">
                                <div class="col-12">
                                    <label class="form-label fw-bold" for="applicationTwoPerviousAddress">Previous
                                        address details:
                                        (if less than 3 years)
                                        <span class="text-danger">*</span></label>
                                </div>
                                <div class="col-12 d-flex align-items-center gap-2">
                                    <!--title-->
                                    <input type="text" name="applicationTwoPerviousAddress"
                                        id="applicationTwoPerviousAddress" class="form-control">
                                    <!--/title-->
                                </div>
                            </div>
                            <!-- /Previous address input -->
                            <!-- Offshore address input -->
                            <div class="row g-2 mt-2">
                                <div class="col-12">
                                    <label class="form-label fw-bold" for="applicationTwoOffShoreAddress">Offshore
                                        address:
                                        <span class="text-danger">*</span></label>
                                </div>
                                <div class="col-12 d-flex align-items-center gap-2">
                                    <!--title-->
                                    <input type="text" name="applicationTwoOffShoreAddress"
                                        id="applicationTwoOffShoreAddress" class="form-control">
                                    <!--/title-->
                                </div>
                            </div>
                            <!-- /Offshore address input -->
                        </div>
                        <!--/applicant-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>