<!-- Current mortgages  -->
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <!-- Current mortgages title -->
            <h1 class="text-center fw-bold p-3 text-success">Current Mortgages - Out Side SMSF</h1>
            <div class="card p-4 shadow-sm">
                <form class="row">
                    <div class="row g-3">
                        <!-- property -->
                        <div class="col-3">
                            <div class=" gap-3">
                                <label class="form-label fw-bold mb-0 text-center" for="currentMortgagesPropertyOne">
                                    (Property 1)
                                </label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class=" gap-3">
                                <label class="form-label fw-bold mb-0 text-center" for="currentMortgagesPropertyOne">
                                    (Property 1)
                                </label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class=" gap-3">
                                <label class="form-label fw-bold mb-0 text-center" for="currentMortgagesPropertyOne">
                                    (Property 1)
                                </label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class=" gap-3">
                                <label class="form-label fw-bold mb-0 text-center" for="currentMortgagesPropertyOne">
                                    (Property 1)
                                </label>
                            </div>
                        </div>
                        <!-- /property -->
                        <!-- Name of Financial Institution -->
                        <div class="col-12">
                            <label class="form-label fw-bold mb-0" for="currentMortgagesFinancialInstitution">Name of
                                Financial Institution
                                <span class="text-danger"> *</span></label>
                        </div>
                        <!-- <div class="col-3">
                            <label class="form-label fw-bold mb-0" for="currentMortgagesFinancialInstitution">Name of
                                Financial Institution
                                <span class="text-danger"> *</span></label>
                        </div>
                        <div class="col-3">
                            <label class="form-label fw-bold mb-0" for="currentMortgagesFinancialInstitution">Name of
                                Financial Institution
                                <span class="text-danger"> *</span></label>
                        </div>
                        <div class="col-3">
                            <label class="form-label fw-bold mb-0" for="currentMortgagesFinancialInstitution">Name of
                                Financial Institution
                                <span class="text-danger"> *</span></label>
                        </div> -->
                        <div class="col-3">
                            <div class="gap-3">
                                <input class="form-control" name="currentMortgagesFinancialInstitution"
                                    id="currentMortgagesFinancialInstitution" type="text"
                                    placeholder="Name Financial Institution" aria-label="name">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="gap-3">
                                <input class="form-control" name="currentMortgagesFinancialInstitution"
                                    id="currentMortgagesFinancialInstitution" type="text"
                                    placeholder="Name Financial Institution" aria-label="name">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="gap-3">
                                <input class="form-control" name="currentMortgagesFinancialInstitution"
                                    id="currentMortgagesFinancialInstitution" type="text"
                                    placeholder="Name Financial Institution" aria-label="name">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="gap-3">
                                <input class="form-control" name="currentMortgagesFinancialInstitution"
                                    id="currentMortgagesFinancialInstitution" type="text"
                                    placeholder="Name Financial Institution" aria-label="name">
                            </div>
                        </div>
                        <!-- /Name of Financial Institution -->
                        <!-- Number & Street Name  -->
                        <div class="col-12">
                            <label class="form-label fw-bold mb-0" for="currentMortgagesStreetName">Number &
                                Street Name
                                <span class="text-danger"> *</span></label>
                        </div>
                        <div class="col-3">
                            <div class="gap-3">
                                <input class="form-control" name="currentMortgagesStreetName"
                                    id="currentMortgagesStreetName" type="text" placeholder="Number Street Name"
                                    aria-label="name">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="gap-3">
                                <input class="form-control" name="currentMortgagesStreetNameTwo"
                                    id="currentMortgagesStreetNameTwo" type="text" placeholder="Number Street Name"
                                    aria-label="name">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="gap-3">
                                <input class="form-control" name="currentMortgagesStreetNameThree"
                                    id="currentMortgagesStreetNameThree" type="text" placeholder="Number Street Name"
                                    aria-label="name">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="gap-3">
                                <input class="form-control" name="currentMortgagesStreetNameFour"
                                    id="currentMortgagesStreetNameFour" type="text" placeholder="Number Street Name"
                                    aria-label="name">
                            </div>
                        </div>
                        <!-- /number & street name -->
                        <!-- account number -->
                        <div class="col-12">
                            <label class="form-label fw-bold mb-0" for="currentMortgagesAccountNumber">Account Number 1
                                <span class="text-danger"> *</span></label>
                        </div>
                        <div class="col-3">
                            <div class="gap-3">
                                <input class="form-control" name="currentMortgagesAccountNumber"
                                    id="currentMortgagesAccountNumber" type="text" placeholder="Account Number"
                                    aria-label="name">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="gap-3">
                                <input class="form-control" name="currentMortgagesAccountNumber"
                                    id="currentMortgagesAccountNumberTwo" type="text" placeholder="Account Number"
                                    aria-label="name">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="gap-3">
                                <input class="form-control" name="currentMortgagesAccountNumber"
                                    id="currentMortgagesAccountNumberThree" type="text" placeholder="Account Number"
                                    aria-label="name">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="gap-3">
                                <input class="form-control" name="currentMortgagesAccountNumber"
                                    id="currentMortgagesAccountNumberFour" type="text" placeholder="Account Number"
                                    aria-label="name">
                            </div>
                        </div>
                        <!-- /account number -->
                        <!-- facility limit -->
                        <div class="col-12">
                            <label class="form-label fw-bold mb-0" for="currentMortgagesFacilityLimit">Facility Limit 1
                                <span class="text-danger"> *</span></label>
                        </div>
                        <div class="col-3">
                            <div class="gap-3">
                                <input class="form-control" name="currentMortgagesFacilityLimit"
                                    id="currentMortgagesFacilityLimit" type="text" placeholder="Account Number"
                                    aria-label="name">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="gap-3">
                                <input class="form-control" name="currentMortgagesFacilityLimit"
                                    id="currentMortgagesFacilityLimitTwo" type="text" placeholder="Account Number"
                                    aria-label="name">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="gap-3">
                                <input class="form-control" name="currentMortgagesFacilityLimit"
                                    id="currentMortgagesFacilityLimitThree" type="text" placeholder="Account Number"
                                    aria-label="name">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="gap-3">
                                <input class="form-control" name="currentMortgagesFacilityLimit"
                                    id="currentMortgagesFacilityLimitFour" type="text" placeholder="Account Number"
                                    aria-label="name">
                            </div>
                        </div>
                        <!-- /facility limit -->
                        <!-- balance outstanding -->
                        <div class="col-12">
                            <label class="form-label fw-bold mb-0" for="currentMortgagesBalanceOutstanding">Balance
                                Outstanding 1
                                <span class="text-danger"> *</span></label>
                        </div>
                        <div class="col-3">
                            <div class="gap-3">
                                <input class="form-control" name="currentMortgagesBalanceOutstanding"
                                    id="currentMortgagesBalanceOutstanding" type="text"
                                    placeholder="Balance Outstanding" aria-label="name">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="gap-3">
                                <input class="form-control" name="currentMortgagesBalanceOutstanding"
                                    id="currentMortgagesBalanceOutstandingTwo" type="text"
                                    placeholder="Balance Outstanding" aria-label="name">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="gap-3">
                                <input class="form-control" name="currentMortgagesBalanceOutstanding"
                                    id="currentMortgagesBalanceOutstandingThree" type="text"
                                    placeholder="Balance Outstanding" aria-label="name">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="gap-3">
                                <input class="form-control" name="currentMortgagesBalanceOutstanding"
                                    id="currentMortgagesBalanceOutstandingFour" type="text"
                                    placeholder="Balance Outstanding" aria-label="name">
                            </div>
                        </div>
                        <!-- /balance outstanding -->
                        <!-- available redraw -->
                        <div class="col-12">
                            <label class="form-label fw-bold mb-0" for="currentMortgagesAvailableRedraw">Available
                                Redraw 1
                                <span class="text-danger"> *</span></label>
                        </div>
                        <div class="col-3">
                            <div class="gap-3">
                                <input class="form-control" name="currentMortgagesAvailableRedraw"
                                    id="currentMortgagesAvailableRedraw" type="text" placeholder="Available Redraw"
                                    aria-label="name">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="gap-3">
                                <input class="form-control" name="currentMortgagesAvailableRedraw"
                                    id="currentMortgagesAvailableRedrawTwo" type="text" placeholder="Available Redraw"
                                    aria-label="name">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="gap-3">
                                <input class="form-control" name="currentMortgagesAvailableRedraw"
                                    id="currentMortgagesAvailableRedrawThree" type="text" placeholder="Available Redraw"
                                    aria-label="name">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="gap-3">
                                <input class="form-control" name="currentMortgagesAvailableRedraw"
                                    id="currentMortgagesAvailableRedrawFour" type="text" placeholder="Available Redraw"
                                    aria-label="name">
                            </div>
                        </div>
                        <!-- /available redraw -->
                        <!-- initial loan term-->
                        <div class="col-12">
                            <label class="form-label fw-bold mb-0" for="currentMortgagesLoanTerm">Initial Loan Term 1
                                <span class="text-danger"> *</span>
                            </label>
                        </div>
                        <div class="col-3">
                            <div class="align-items-center row">
                                <div class="col-auto">
                                    <input type="text" id="currentMortgagesLoanTerm" name="currentMortgagesLoanTerm"
                                        placeholder="Initial Loan Term" class="form-control">
                                </div>
                                <div class="col-auto">
                                    <span name="currentMortgagesLoanTerm" class="form-text-lable fw-semibold">
                                        Years</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="align-items-center row">
                                <div class="col-auto">
                                    <input type="text" placeholder="Initial Loan Term" class="form-control">
                                </div>
                                <div class="col-auto">
                                    <span name="currentMortgagesLoanTerm" placeholder="Initial Loan Term"
                                        class="form-text-lable fw-semibold">
                                        Years</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="align-items-center row">
                                <div class="col-auto">
                                    <input type="text" placeholder="Initial Loan Term" class="form-control">
                                </div>
                                <div class="col-auto">
                                    <span name="currentMortgagesLoanTerm" class="form-text-lable fw-semibold">
                                        Years</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="align-items-center row">
                                <div class="col-auto">
                                    <input type="text" placeholder="Initial Loan Term" class="form-control">
                                </div>
                                <div class="col-auto">
                                    <span id="passwordHelpInline" name="currentMortgagesLoanTerm"
                                        class="form-text-lable fw-semibold">
                                        Years</span>
                                </div>
                            </div>
                        </div>
                        <!-- /initial loan term -->
                        <!-- Current interest rate Variable -->
                        <div class="col-12">
                            <label class="form-label fw-bold mb-0" for="currentMortgagesCurrentInterestRate">Current
                                Interest Rate
                                1
                                <span class="text-danger"> *</span>
                            </label>
                        </div>
                        <div class="col-3">
                            <div class="align-items-center row">
                                <div class="col-auto">
                                    <input type="text" id="currentMortgagesCurrentInterestRate"
                                        placeholder="Current Interest Rate" name="currentMortgagesCurrentInterestRate"
                                        class="form-control">
                                </div>
                                <div class="col-auto">
                                    <span name="currentMortgagesLoanTerm" class="form-text-lable fw-semibold">
                                        % Variable</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="align-items-center row">
                                <div class="col-auto">
                                    <input type="text" placeholder="Current Interest Rate" class="form-control">
                                </div>
                                <div class="col-auto">
                                    <span name="currentMortgagesLoanTerm" class="form-text-lable fw-semibold">
                                        % Variable</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="align-items-center row">
                                <div class="col-auto">
                                    <input type="text" placeholder="Current Interest Rate" class="form-control">
                                </div>
                                <div class="col-auto">
                                    <span name="currentMortgagesLoanTerm" class="form-text-lable fw-semibold">
                                        % Variable</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="align-items-center row">
                                <div class="col-auto">
                                    <input type="text" placeholder="Current Interest Rate" class="form-control">
                                </div>
                                <div class="col-auto">
                                    <span id="passwordHelpInline" class="form-text-lable fw-semibold">
                                        % Variable</span>
                                </div>
                            </div>
                        </div>
                        <!-- /current interest rate Variable -->
                        <!-- current interest rate fixed -->
                        <div class="col-12">
                            <label class="form-label fw-bold mb-0" for="currentMortgagesOrInterestRate">OR
                            </label>
                        </div>
                        <div class="col-3">
                            <div class="align-items-center row">
                                <div class="col-auto">
                                    <input type="text" id="currentMortgagesOrInterestRate"
                                        placeholder="Fixed Interest Rate" name="currentMortgagesOrInterestRate"
                                        class="form-control">
                                </div>
                                <div class="col-auto">
                                    <span name="currentMortgagesOrInterestRate" class="form-text-lable fw-semibold">
                                        % Fixed</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="align-items-center row">
                                <div class="col-auto">
                                    <input type="text" placeholder="Fixed Interest Rate" class="form-control">
                                </div>
                                <div class="col-auto">
                                    <span name="currentMortgagesOrInterestRate" class="form-text-lable fw-semibold">
                                        % Fixed</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="align-items-center row">
                                <div class="col-auto">
                                    <input type="text" placeholder="Fixed Interest Rate" class="form-control">
                                </div>
                                <div class="col-auto">
                                    <span name="currentMortgagesOrInterestRate" class="form-text-lable fw-semibold">
                                        % Fixed</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="align-items-center row">
                                <div class="col-auto">
                                    <input type="text" placeholder="Fixed Interest Rate" class="form-control">
                                </div>
                                <div class="col-auto">
                                    <span name="currentMortgagesOrInterestRate" class="form-text-lable fw-semibold">
                                        % Fixed</span>
                                </div>
                            </div>
                        </div>
                        <!-- /Current interest rate fixed -->
                        <!-- Remaining fixed term -->
                        <div class="col-12">
                            <label class="form-label fw-bold mb-0" for="currentMortgagesRemainingFixedTerm">Remaining
                                Fixed
                                Term 1 <span class="text-danger"> *</span>
                            </label>
                        </div>
                        <div class="col-3">
                            <div class="align-items-center row">
                                <div class="col-auto">
                                    <input type="text" id="currentMortgagesRemainingFixedTerm"
                                        placeholder="Remaining Fixed Term" name="currentMortgagesRemainingFixedTerm"
                                        class="form-control">
                                </div>
                                <div class="col-auto">
                                    <span name="currentMortgagesRemainingFixedTerm" class="form-text-lable fw-semibold">
                                        Months</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="align-items-center row">
                                <div class="col-auto">
                                    <input type="text" placeholder="Remaining Fixed Term" class="form-control">
                                </div>
                                <div class="col-auto">
                                    <span name="currentMortgagesRemainingFixedTerm" class="form-text-lable fw-semibold">
                                        Months</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="align-items-center row">
                                <div class="col-auto">
                                    <input type="text" placeholder="Remaining Fixed Term" class="form-control">
                                </div>
                                <div class="col-auto">
                                    <span name="currentMortgagesRemainingFixedTerm" class="form-text-lable fw-semibold">
                                        Months</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="align-items-center row">
                                <div class="col-auto">
                                    <input type="text" placeholder="Remaining Fixed Term" class="form-control">
                                </div>
                                <div class="col-auto">
                                    <span name="currentMortgagesRemainingFixedTerm" class="form-text-lable fw-semibold">
                                        Months</span>
                                </div>
                            </div>
                        </div>
                        <!-- /Remaining fixed term -->
                        <!-- to be refinanced -->
                        <div class="col-12">
                            <label class="form-label fw-bold mb-0" for="currentMortgagesToRefinanced">To Be
                                Refinanced? <span class="text-danger"> *</span>
                            </label>
                        </div>

                        <div class="col-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="currentMortgagesToRefinanced"
                                    id="currentMortgagesToRefinancedYes" value="option1">
                                <label class="form-check-label fw-semibold"
                                    for="currentMortgagesToRefinancedYes">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="currentMortgagesToRefinanced"
                                    id="currentMortgagesToRefinancedNo" value="option2">
                                <label class="form-check-label fw-semibold"
                                    for="currentMortgagesToRefinancedNo">No</label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="currentMortgagesToRefinancedTwo"
                                    id="currentMortgagesToRefinancedYesTwo" value="option1">
                                <label class="form-check-label fw-semibold"
                                    for="currentMortgagesToRefinancedYesTwo">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="currentMortgagesToRefinancedTwo"
                                    id="currentMortgagesToRefinancedNoTwo" value="option2">
                                <label class="form-check-label fw-semibold"
                                    for="currentMortgagesToRefinancedNoTwo">No</label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="currentMortgagesToRefinancedThree"
                                    id="currentMortgagesToRefinancedYesThree" value="option1">
                                <label class="form-check-label fw-semibold"
                                    for="currentMortgagesToRefinancedYesThree">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="currentMortgagesToRefinancedThree"
                                    id="currentMortgagesToRefinancedNoThree" value="option2">
                                <label class="form-check-label fw-semibold"
                                    for="currentMortgagesToRefinancedNoThree">No</label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="currentMortgagesToRefinancedFour"
                                    id="currentMortgagesToRefinancedYesFour" value="option1">
                                <label class="form-check-label fw-semibold"
                                    for="currentMortgagesToRefinancedYesFour">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="currentMortgagesToRefinancedFour"
                                    id="currentMortgagesToRefinancedNoFour" value="option2">
                                <label class="form-check-label fw-semibold"
                                    for="currentMortgagesToRefinancedNoFour">No</label>
                            </div>
                        </div>
                        <!-- /to be refinanced -->
                        <!-- Reverting (from fixed to variable) rate -->
                        <div class="col-12">
                            <label class="form-label fw-bold mb-0" for="currentMortgagesRevertingRate">Reverting
                                (from fixed to variable) rate 1
                                <span class="text-danger"> *</span>
                            </label>
                        </div>
                        <div class="col-3">
                            <div class="align-items-center row">
                                <div class="col-auto">
                                    <input type="text" id="currentMortgagesRevertingRate" placeholder="Reverting Rate"
                                        name="currentMortgagesRevertingRate" class="form-control">
                                </div>
                                <div class="col-auto">
                                    <span name="currentMortgagesRevertingRate" class="form-text-lable fw-semibold">
                                        % Variable</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="align-items-center row">
                                <div class="col-auto">
                                    <input type="text" placeholder="Reverting Rate" class="form-control">
                                </div>
                                <div class="col-auto">
                                    <span name="currentMortgagesRevertingRate" class="form-text-lable fw-semibold">
                                        % Variable</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="align-items-center row">
                                <div class="col-auto">
                                    <input type="text" placeholder="Reverting Rate" class="form-control">
                                </div>
                                <div class="col-auto">
                                    <span name="currentMortgagesRevertingRate" class="form-text-lable fw-semibold">
                                        % Variable</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="align-items-center row">
                                <div class="col-auto">
                                    <input type="text" placeholder="Reverting Rate" class="form-control">
                                </div>
                                <div class="col-auto">
                                    <span id="passwordHelpInline" class="form-text-lable fw-semibold">
                                        % Variable</span>
                                </div>
                            </div>
                        </div>
                        <!-- /Reverting (from fixed to variable) rate -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Current mortgages  -->