<!-- aside navbar -->
<aside class="shadow-sm fixed-top" id="aside">
    <div class="row p-4">
        <div class="col-12 d-flex justify-content-center flex-column align-items-center border-bottom pb-3">
            <img src="https://play-lh.googleusercontent.com/ahJtMe0vfOlAu1XJVQ6rcaGrQBgtrEZQefHy7SXB7jpijKhu1Kkox90XDuH8RmcBOXNn=w480-h960-rw"
                alt="Logo" width="60" height="60" class="rounded-circle shadow-sm">
            <div class="text-white mt-2 fw-bold">Application Form</div>
            <small class="text-center text-white">Current Mortgages</small>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="nav flex-column">
                <li class="nav-item mx-3 mb-2">
                    <a class="nav-link text-white" routerLink="/home"><i class="fa-solid fa-house-user"></i><span
                            class="ms-3">Home</span></a>
                </li>
                <li class="nav-item mx-3 mb-2">
                    <a class="nav-link text-white" routerLink="/about"><i class="fa-solid fa-address-card"></i><span
                            class="ms-3">About</span></a>
                </li>
                <li class="nav-item mx-3 mb-2">
                    <a class="nav-link text-white" routerLink="/services"><i class="fa-solid fa-grip-vertical"></i><span
                            class="ms-3">
                            Services</span></a>
                </li>
                <li class="nav-item mx-3 mb-2">
                    <a class="nav-link text-white" routerLink="/services1"><i
                            class="fa-solid fa-grip-vertical"></i><span class="ms-3">Services
                            1</span></a>
                </li>
                <li class="nav-item mx-3 mb-2">
                    <a class="nav-link text-white" routerLink="/section2b"><i
                            class="fa-solid fa-grip-vertical"></i><span class="ms-3">Section 2b</span></a>
                </li>
                <li class="nav-item mx-3 mb-2">
                    <a class="nav-link text-white" routerLink="Contact"><i class="fa-solid fa-headset"></i><span
                            class="ms-3">Contact</span></a>
                </li>
            </ul>
        </div>
    </div>
</aside>
<!-- /aside navbar -->
<!-- main -->
<main>
    <!-- Current mortgages  -->
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <!-- Current mortgages title -->
                <h1 class="fw-bold mb-3 p-2 text-success sectionBorder">SECTION 2b : Unencumbered Real Estate Assets
                </h1>
                <div class="card p-4 shadow-sm">
                    <form class="row">
                        <div class="row g-3">
                            <!-- property -->
                            <div class="col-3">
                                <div>
                                    <label class="form-label fw-bold mb-0 text-center"
                                        for="currentMortgagesPropertyOne">
                                        (Property 1)
                                    </label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div>
                                    <label class="form-label fw-bold mb-0 text-center"
                                        for="currentMortgagesPropertyOne">
                                        (Property 1)
                                    </label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div>
                                    <label class="form-label fw-bold mb-0 text-center"
                                        for="currentMortgagesPropertyOne">
                                        (Property 1)
                                    </label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div>
                                    <label class="form-label fw-bold mb-0 text-center"
                                        for="currentMortgagesPropertyOne">
                                        (Property 1)
                                    </label>
                                </div>
                            </div>
                            <!-- /property -->
                            <!-- Name of Financial Institution -->
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0" for="currentMortgagesFinancialInstitution">Name
                                    of
                                    Financial Institution
                                    <span class="text-danger"> *</span></label>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0"
                                    for="currentMortgagesFinancialInstitutionTwo">Name
                                    of
                                    Financial Institution
                                </label>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0"
                                    for="currentMortgagesFinancialInstitutionThree">Name
                                    of
                                    Financial Institution
                                </label>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0"
                                    for="currentMortgagesFinancialInstitutionFour">Name
                                    of
                                    Financial Institution
                                </label>
                            </div>
                            <div class="col-3">
                                <div>
                                    <input class="form-control" name="currentMortgagesFinancialInstitution"
                                        id="currentMortgagesFinancialInstitution" type="text"
                                        placeholder="Name Financial Institution" aria-label="name">
                                </div>
                            </div>
                            <div class="col-3">
                                <div>
                                    <input class="form-control" name="currentMortgagesFinancialInstitution"
                                        id="currentMortgagesFinancialInstitutionTwo" type="text"
                                        placeholder="Name Financial Institution" aria-label="name">
                                </div>
                            </div>
                            <div class="col-3">
                                <div>
                                    <input class="form-control" name="currentMortgagesFinancialInstitution"
                                        id="currentMortgagesFinancialInstitutionThree" type="text"
                                        placeholder="Name Financial Institution" aria-label="name">
                                </div>
                            </div>
                            <div class="col-3">
                                <div>
                                    <input class="form-control" name="currentMortgagesFinancialInstitution"
                                        id="currentMortgagesFinancialInstitutionFour" type="text"
                                        placeholder="Name Financial Institution" aria-label="name">
                                </div>
                            </div>
                            <!-- /Name of Financial Institution -->
                            <!-- Number & Street Name  -->
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0" for="currentMortgagesStreetName">Number &
                                    Street Name
                                    <span class="text-danger"> *</span></label>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0" for="currentMortgagesStreetNameTwo">Number &
                                    Street Name
                                </label>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0" for="currentMortgagesStreetNameThree">Number &
                                    Street Name
                                </label>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0" for="currentMortgagesStreetNameFour">Number &
                                    Street Name
                                </label>
                            </div>
                            <div class="col-3">
                                <div>
                                    <input class="form-control" name="currentMortgagesStreetName"
                                        id="currentMortgagesStreetName" type="text" placeholder="Number Street Name"
                                        aria-label="name">
                                </div>
                            </div>
                            <div class="col-3">
                                <div>
                                    <input class="form-control" name="currentMortgagesStreetNameTwo"
                                        id="currentMortgagesStreetNameTwo" type="text" placeholder="Number Street Name"
                                        aria-label="name">
                                </div>
                            </div>
                            <div class="col-3">
                                <div>
                                    <input class="form-control" name="currentMortgagesStreetNameThree"
                                        id="currentMortgagesStreetNameThree" type="text"
                                        placeholder="Number Street Name" aria-label="name">
                                </div>
                            </div>
                            <div class="col-3">
                                <div>
                                    <input class="form-control" name="currentMortgagesStreetNameFour"
                                        id="currentMortgagesStreetNameFour" type="text" placeholder="Number Street Name"
                                        aria-label="name">
                                </div>
                            </div>
                            <!-- /number & street name -->
                            <!-- account number -->
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0" for="currentMortgagesAccountNumber">Account
                                    Number 1
                                    <span class="text-danger"> *</span></label>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0" for="currentMortgagesAccountNumberTwo">Account
                                    Number 1
                                </label>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0" for="currentMortgagesAccountNumberThree">Account
                                    Number 1
                                </label>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0" for="currentMortgagesAccountNumberFour">Account
                                    Number 1
                                </label>
                            </div>
                            <div class="col-3">
                                <div>
                                    <input class="form-control" name="currentMortgagesAccountNumber"
                                        id="currentMortgagesAccountNumber" type="text" placeholder="Account Number"
                                        aria-label="name">
                                </div>
                            </div>
                            <div class="col-3">
                                <div>
                                    <input class="form-control" name="currentMortgagesAccountNumber"
                                        id="currentMortgagesAccountNumberTwo" type="text" placeholder="Account Number"
                                        aria-label="name">
                                </div>
                            </div>
                            <div class="col-3">
                                <div>
                                    <input class="form-control" name="currentMortgagesAccountNumber"
                                        id="currentMortgagesAccountNumberThree" type="text" placeholder="Account Number"
                                        aria-label="name">
                                </div>
                            </div>
                            <div class="col-3">
                                <div>
                                    <input class="form-control" name="currentMortgagesAccountNumber"
                                        id="currentMortgagesAccountNumberFour" type="text" placeholder="Account Number"
                                        aria-label="name">
                                </div>
                            </div>
                            <!-- /account number -->
                            <!-- facility limit -->
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0" for="currentMortgagesFacilityLimit">Facility
                                    Limit 1
                                    <span class="text-danger"> *</span></label>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0" for="currentMortgagesFacilityLimitTwo">Facility
                                    Limit 1
                                </label>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0" for="currentMortgagesFacilityLimitThree">Facility
                                    Limit 1
                                </label>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0" for="currentMortgagesFacilityLimitFour">Facility
                                    Limit 1
                                </label>
                            </div>
                            <div class="col-3">
                                <div>
                                    <input class="form-control" name="currentMortgagesFacilityLimit"
                                        id="currentMortgagesFacilityLimit" type="text" placeholder="Account Number"
                                        aria-label="name">
                                </div>
                            </div>
                            <div class="col-3">
                                <div>
                                    <input class="form-control" name="currentMortgagesFacilityLimit"
                                        id="currentMortgagesFacilityLimitTwo" type="text" placeholder="Account Number"
                                        aria-label="name">
                                </div>
                            </div>
                            <div class="col-3">
                                <div>
                                    <input class="form-control" name="currentMortgagesFacilityLimit"
                                        id="currentMortgagesFacilityLimitThree" type="text" placeholder="Account Number"
                                        aria-label="name">
                                </div>
                            </div>
                            <div class="col-3">
                                <div>
                                    <input class="form-control" name="currentMortgagesFacilityLimit"
                                        id="currentMortgagesFacilityLimitFour" type="text" placeholder="Account Number"
                                        aria-label="name">
                                </div>
                            </div>
                            <!-- /facility limit -->
                            <!-- balance outstanding -->
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0" for="currentMortgagesBalanceOutstanding">Balance
                                    Outstanding 1
                                    <span class="text-danger"> *</span></label>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0"
                                    for="currentMortgagesBalanceOutstandingTwo">Balance
                                    Outstanding 1
                                </label>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0"
                                    for="currentMortgagesBalanceOutstandingThree">Balance
                                    Outstanding 1
                                </label>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0"
                                    for="currentMortgagesBalanceOutstandingFour">Balance
                                    Outstanding 1
                                </label>
                            </div>
                            <div class="col-3">
                                <div>
                                    <input class="form-control" name="currentMortgagesBalanceOutstanding"
                                        id="currentMortgagesBalanceOutstanding" type="text"
                                        placeholder="Balance Outstanding" aria-label="name">
                                </div>
                            </div>
                            <div class="col-3">
                                <div>
                                    <input class="form-control" name="currentMortgagesBalanceOutstanding"
                                        id="currentMortgagesBalanceOutstandingTwo" type="text"
                                        placeholder="Balance Outstanding" aria-label="name">
                                </div>
                            </div>
                            <div class="col-3">
                                <div>
                                    <input class="form-control" name="currentMortgagesBalanceOutstanding"
                                        id="currentMortgagesBalanceOutstandingThree" type="text"
                                        placeholder="Balance Outstanding" aria-label="name">
                                </div>
                            </div>
                            <div class="col-3">
                                <div>
                                    <input class="form-control" name="currentMortgagesBalanceOutstanding"
                                        id="currentMortgagesBalanceOutstandingFour" type="text"
                                        placeholder="Balance Outstanding" aria-label="name">
                                </div>
                            </div>
                            <!-- /balance outstanding -->
                            <!-- available redraw -->
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0" for="currentMortgagesAvailableRedraw">Available
                                    Redraw 1
                                    <span class="text-danger"> *</span></label>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0"
                                    for="currentMortgagesAvailableRedrawTwo">Available
                                    Redraw 1
                                </label>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0"
                                    for="currentMortgagesAvailableRedrawThree">Available
                                    Redraw 1
                                </label>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0"
                                    for="currentMortgagesAvailableRedrawFour">Available
                                    Redraw 1
                                </label>
                            </div>
                            <div class="col-3">
                                <div>
                                    <input class="form-control" name="currentMortgagesAvailableRedraw"
                                        id="currentMortgagesAvailableRedraw" type="text" placeholder="Available Redraw"
                                        aria-label="name">
                                </div>
                            </div>
                            <div class="col-3">
                                <div>
                                    <input class="form-control" name="currentMortgagesAvailableRedraw"
                                        id="currentMortgagesAvailableRedrawTwo" type="text"
                                        placeholder="Available Redraw" aria-label="name">
                                </div>
                            </div>
                            <div class="col-3">
                                <div>
                                    <input class="form-control" name="currentMortgagesAvailableRedraw"
                                        id="currentMortgagesAvailableRedrawThree" type="text"
                                        placeholder="Available Redraw" aria-label="name">
                                </div>
                            </div>
                            <div class="col-3">
                                <div>
                                    <input class="form-control" name="currentMortgagesAvailableRedraw"
                                        id="currentMortgagesAvailableRedrawFour" type="text"
                                        placeholder="Available Redraw" aria-label="name">
                                </div>
                            </div>
                            <!-- /available redraw -->
                            <!-- initial loan term-->
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0" for="currentMortgagesLoanTerm">Initial Loan Term
                                    1
                                    <span class="text-danger"> *</span>
                                </label>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0" for="currentMortgagesLoanTermTow">Initial Loan
                                    Term
                                    1
                                </label>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0" for="currentMortgagesLoanTermThree">Initial Loan
                                    Term
                                    1
                                </label>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold mb-0" for="currentMortgagesLoanTermFour">Initial Loan
                                    Term
                                    1
                                </label>
                            </div>
                            <div class="col-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Initial Loan Term"
                                        name="currentMortgagesLoanTerm" id="currentMortgagesLoanTerm"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <span class="input-group-text fw-semibold" id="basic-addon2">Years</span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Initial Loan Term"
                                        name="currentMortgagesLoanTerm" id="currentMortgagesLoanTermTow"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <span class="input-group-text fw-semibold" id="basic-addon2">Years</span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Initial Loan Term"
                                        name="currentMortgagesLoanTerm" id="currentMortgagesLoanTermThree"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <span class="input-group-text fw-semibold" id="basic-addon2">Years</span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Initial Loan Term"
                                        name="currentMortgagesLoanTerm" id="currentMortgagesLoanTermFour"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <span class="input-group-text fw-semibold" id="basic-addon2">Years</span>
                                </div>
                            </div>
                            <!-- /initial loan term -->

                            <!--  -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Current mortgages  -->
</main>
<!-- /main -->