<!-- aside navbar -->
<aside class="shadow-sm fixed-top" id="aside">
    <div class="row p-4">
        <div class="col-12 d-flex justify-content-center flex-column align-items-center border-bottom pb-3">
            <img src="https://play-lh.googleusercontent.com/ahJtMe0vfOlAu1XJVQ6rcaGrQBgtrEZQefHy7SXB7jpijKhu1Kkox90XDuH8RmcBOXNn=w480-h960-rw"
                alt="Logo" width="60" height="60" class="rounded-circle shadow-sm">
            <div class="text-white mt-2 fw-bold">Application Form</div>
            <small class="text-center text-white">Current Mortgages</small>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="nav flex-column">
                <li class="nav-item mx-3 mb-2">
                    <a class="nav-link text-white" routerLink="/home"><i class="fa-solid fa-house-user"></i><span
                            class="ms-3">Home</span></a>
                </li>
                <li class="nav-item mx-3 mb-2">
                    <a class="nav-link text-white" routerLink="/about"><i class="fa-solid fa-address-card"></i><span
                            class="ms-3">About</span></a>
                </li>
                <li class="nav-item mx-3 mb-2">
                    <a class="nav-link text-white" routerLink="/services"><i class="fa-solid fa-grip-vertical"></i><span
                            class="ms-3">
                            Services</span></a>
                </li>
                <li class="nav-item mx-3 mb-2">
                    <a class="nav-link text-white" routerLink="/services1"><i
                            class="fa-solid fa-grip-vertical"></i><span class="ms-3">Services
                            1</span></a>
                </li>
                <li class="nav-item mx-3 mb-2">
                    <a class="nav-link text-white" routerLink="/creditCard"><i
                            class="fa-solid fa-grip-vertical"></i><span class="ms-3">Credit Card</span></a>
                </li>
                <li class="nav-item mx-3 mb-2">
                    <a class="nav-link text-white" routerLink="Contact"><i class="fa-solid fa-headset"></i><span
                            class="ms-3">Contact</span></a>
                </li>
            </ul>
        </div>
    </div>
</aside>
<!-- /aside navbar -->
<!-- main -->
<main>
    <!-- section 3 3b 3c-->
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <!--  credit card title -->
                <h1 class="fw-bold mb-3 p-2 text-success sectionBorder">Section 3 3b 3c
                </h1>
                <div class="card p-4 shadow-sm">
                    <!-- Credit cards sub title  -->
                    <h3 class="fw-bold mb-3 p-1 text-success sectionBorder">Credit cards
                    </h3>
                    <form class="row">
                        <div class="row g-3">
                            <div class="col-3">
                                <div>
                                    <label class="form-label fw-bold mb-0 text-center"
                                        for="currentMortgagesPropertyOne">
                                        (Property 1)
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>


                </div>

            </div>
        </div>
    </div>
    <!-- /section 3 3b 3c -->
</main>
<!-- /main -->