<!-- aside navbar -->
<!-- navbar -->
<nav class="navbar navbar-expand-xxl shadow-sm position-fixed top-0 start-0 end-0 bg-white shadow">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold text-uppercase text-dark" href="#">Submission Pack</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end fw-semibold" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active text-dark"   routerLink="/home"  routerLinkActive="active"><a href="#one">Home</a> </a>
        <a class="nav-link" routerLink="/about">About</a>
        <a class="nav-link" routerLink="/services">Mortgages Outside</a>
        <a class="nav-link" routerLink="/services1">Mortgages Inside</a>
        <a class="nav-link" routerLink="/creditCard">Credit Card</a>
        <a class="nav-link" routerLink="/loan">Loan Mortgages</a>
        <a class="nav-link" routerLink="/hcpcc">Household EPCC</a>
        <a class="nav-link" routerLink="/customer">Customer Declarations</a>
        <a class="nav-link" routerLink="/feedback">Feedback</a>
        <a class="nav-link" routerLink="/infoCustomer">Info Customer</a>
        <a class="nav-link" routerLink="/funds">Funds</a>
        <a class="nav-link" routerLink="/security">Security</a>
        <a class="nav-link" routerLink="/buyers">Buyers</a>
        <a class="nav-link" routerLink="/pertinent">Pertinent</a>
        <a class="nav-link" routerLink="contact">Contact</a>
      </div>
    </div>
  </div>
</nav>
<!-- /navbar -->
<div class="mt-5">
  <router-outlet></router-outlet>
</div>


<!-- <app-products></app-products> -->