<!-- main -->
<main>
    <!-- buyers -->
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <!-- buyers title -->
                <h1 class="fw-bold mb-3 p-2 sectionBorder">SECTION 11a</h1>
                <div class="card p-4 shadow-sm">
                    <!-- buyers sub title  -->
                    <h5 class="fw-bold mb-0 p-1 text-capitalize">First Time Buyers</h5>
                    <form class="row">
                        <div class="row g-3">
                            <!-- qualify for Government assistance -->
                            <div class="col-12 col-md-6 col-lg-4 align-self-center">
                                <label for=" " class="fw-bold mb-3 text-capitalize">Qualify for Government
                                    assistance</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="securityValuationCheckedIncluded"
                                            id="securityValuationCheckedIncludedCopyCMA" value="option2">
                                        <label class="form-check-label fw-semibold"
                                            for="securityValuationCheckedIncludedCopyCMA">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="securityValuationCheckedIncluded"
                                            id="securityValuationCheckedIncludedCopyValuation" value="option2">
                                        <label class="form-check-label fw-semibold text-capitalize"
                                            for="securityValuationCheckedIncludedCopyValuation">No (reply after careful
                                            review) https://www.firsthome.gov.au/</label>
                                    </div>
                                </div>
                            </div>
                            <!-- /qualify for Government assistance -->
                            <!-- party making the (if yes) application -->
                            <div class="col-12 col-md-6 col-lg-4 align-self-center">
                                <label for=" " class="fw-bold mb-3 text-capitalize">Party making the (if yes)
                                    application</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="securityValuationCheckedIncluded"
                                            id="securityValuationCheckedIncludedCopyCMA" value="option2">
                                        <label class="form-check-label fw-semibold"
                                            for="securityValuationCheckedIncludedCopyCMA">Solicitor/Conveyancer</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="securityValuationCheckedIncluded"
                                            id="securityValuationCheckedIncludedCopyValuation" value="option2">
                                        <label class="form-check-label fw-semibold text-capitalize"
                                            for="securityValuationCheckedIncludedCopyValuation">Mortgage Street</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="securityValuationCheckedIncluded"
                                            id="securityValuationCheckedIncludedCopyValuation" value="option2">
                                        <label class="form-check-label fw-semibold text-capitalize"
                                            for="securityValuationCheckedIncludedCopyValuation">Self</label>
                                    </div>
                                </div>
                            </div>
                            <!-- /party making the (if yes) application -->
                            <!-- applying for -->
                            <div class="col-12 col-md-6 col-lg-4 align-self-center">
                                <label for=" " class="fw-bold mb-3 text-capitalize">Applying for</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="securityValuationCheckedIncluded"
                                            id="securityValuationCheckedIncludedCopyCMA" value="option2">
                                        <label class="form-check-label fw-semibold"
                                            for="securityValuationCheckedIncludedCopyCMA">FHOG (First Home Owner
                                            Grant)</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="securityValuationCheckedIncluded"
                                            id="securityValuationCheckedIncludedCopyValuation" value="option2">
                                        <label class="form-check-label fw-semibold text-capitalize"
                                            for="securityValuationCheckedIncludedCopyValuation">Stamp duty
                                            concession</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="securityValuationCheckedIncluded"
                                            id="securityValuationCheckedIncludedCopyValuation" value="option2">
                                        <label class="form-check-label fw-semibold text-capitalize"
                                            for="securityValuationCheckedIncludedCopyValuation">FHBC (First Home Buyer
                                            Choice)</label>
                                    </div>
                                </div>
                            </div>
                            <!-- /applying for -->











                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /buyers type -->
</main>
<!-- /main -->