<!-- main -->
<main>
    <!-- buyers -->
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <!-- buyers title -->
                <h1 class="fw-bold mb-3 p-2 sectionBorder">SECTION 11a</h1>
                <div class="card p-4 shadow-sm">
                    <!-- buyers sub title  -->
                    <h5 class="fw-bold mb-0 p-1 text-capitalize">First Time Buyers</h5>
                    <form class="row">
                        <div class="row g-3">
                            <!-- section 11a -->
                            <!-- qualify for Government assistance -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="customerAMLResultSecond"
                                        id="customerAMLResultSecondPass" />
                                    <label class="form-check-label fw-semibold text-capitalize"
                                        for="customerAMLResultSecondPass">Qualify for Government assistance</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="securityValuationCheckedIncluded"
                                        id="securityValuationCheckedIncludedCopyCMA" />
                                    <label class="form-check-label fw-semibold"
                                        for="securityValuationCheckedIncludedCopyCMA">Yes</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="securityValuationCheckedIncluded"
                                        id="securityValuationCheckedIncludedCopyValuation" />
                                    <label class="form-check-label fw-semibold"
                                        for="securityValuationCheckedIncludedCopyValuation">No
                                        <a href="https://www.firsthome.gov.au/" target="_blank"
                                            class="text-dark text-decoration-none">https://www.firsthome.gov.au/</a>
                                        <p class="peraFontSize">(reply after careful review)</p>
                                    </label>
                                </div>
                            </div>
                            <!-- /qualify for Government assistance -->
                            <!-- party making the (if yes) application -->
                            <div class="col-12">
                                <div class="form-check form-check-inline mb-3">
                                    <label class="form-check-label fw-bold text-capitalize"
                                        for="customerAMLResultSecondPass">Party making the (if yes) application <span
                                            class="text-danger">*</span></label>
                                </div>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="securityValuationCheckedIncluded"
                                            id="securityValuationCheckedIncludedCopyCMA" />
                                        <label class="form-check-label fw-semibold"
                                            for="securityValuationCheckedIncludedCopyCMA">Solicitor/Conveyancer</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="securityValuationCheckedIncluded"
                                            id="securityValuationCheckedIncludedCopyCMA" />
                                        <label class="form-check-label fw-semibold"
                                            for="securityValuationCheckedIncludedCopyCMA">Mortgage Street</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="securityValuationCheckedIncluded"
                                            id="securityValuationCheckedIncludedCopyCMA" />
                                        <label class="form-check-label fw-semibold"
                                            for="securityValuationCheckedIncludedCopyCMA">Self</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="securityValuationCheckedIncluded"
                                            id="securityValuationCheckedIncludedCopyCMA" />
                                        <label class="form-check-label fw-semibold"
                                            for="securityValuationCheckedIncludedCopyCMA">Applying for</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="securityValuationCheckedIncluded"
                                            id="securityValuationCheckedIncludedCopyCMA" />
                                        <label class="form-check-label fw-semibold"
                                            for="securityValuationCheckedIncludedCopyCMA">FHOG (First Home Owner
                                            Grant)</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="securityValuationCheckedIncluded"
                                            id="securityValuationCheckedIncludedCopyCMA" />
                                        <label class="form-check-label fw-semibold"
                                            for="securityValuationCheckedIncludedCopyCMA">Stamp duty concession</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="securityValuationCheckedIncluded"
                                            id="securityValuationCheckedIncludedCopyCMA" />
                                        <label class="form-check-label fw-semibold"
                                            for="securityValuationCheckedIncludedCopyCMA">FHBC (First Home Buyer
                                            Choice)</label>
                                    </div>
                                </div>
                            </div>
                            <!-- /party making the (if yes) application -->
                            <!-- Know your customer -->
                            <div class="col-12">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label fw-bold text-capitalize"
                                        for="customerAMLResultSecondPass">Know your customer</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-check form-check-inline mb-3">
                                    <label class="form-check-label fw-bold text-capitalize"
                                        for="customerAMLResultSecondPass">Guided/assisted by<span class="text-danger">
                                            *</span></label>
                                </div>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="securityValuationCheckedIncluded"
                                            id="securityValuationCheckedIncludedCopyCMA" />
                                        <label class="form-check-label fw-semibold"
                                            for="securityValuationCheckedIncludedCopyCMA">Self</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="securityValuationCheckedIncluded"
                                            id="securityValuationCheckedIncludedCopyCMA" />
                                        <label class="form-check-label fw-semibold"
                                            for="securityValuationCheckedIncludedCopyCMA">Financial planner</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="securityValuationCheckedIncluded"
                                            id="securityValuationCheckedIncludedCopyCMA" />
                                        <label class="form-check-label fw-semibold"
                                            for="securityValuationCheckedIncludedCopyCMA">Friends</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="securityValuationCheckedIncluded"
                                            id="securityValuationCheckedIncludedCopyCMA" />
                                        <label class="form-check-label fw-semibold"
                                            for="securityValuationCheckedIncludedCopyCMA">Parents</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="securityValuationCheckedIncluded"
                                            id="securityValuationCheckedIncludedCopyCMA" />
                                        <label class="form-check-label fw-semibold"
                                            for="securityValuationCheckedIncludedCopyCMA">Real-estate agent</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="securityValuationCheckedIncluded"
                                            id="securityValuationCheckedIncludedCopyCMA" />
                                        <label class="form-check-label fw-semibold"
                                            for="securityValuationCheckedIncludedCopyCMA">Property expert</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="securityValuationCheckedIncluded"
                                            id="securityValuationCheckedIncludedCopyCMA" />
                                        <label class="form-check-label fw-semibold"
                                            for="securityValuationCheckedIncludedCopyCMA">Advisor</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="securityValuationCheckedIncluded"
                                            id="securityValuationCheckedIncludedCopyCMA" />
                                        <label class="form-check-label fw-semibold"
                                            for="securityValuationCheckedIncludedCopyCMA">Mortgage broker</label>
                                    </div>
                                </div>

                            </div>
                            <!-- /Know your customer -->
                            <!-- Motivation/Strategy or plan -->
                            <div class="col-12">
                                <div class="form-check form-check-inline mb-3">
                                    <label class="form-check-label fw-bold text-capitalize"
                                        for="customerAMLResultSecondPass">Motivation/Strategy or plan<span
                                            class="text-danger"> *</span></label>
                                </div>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="securityValuationCheckedIncluded"
                                            id="securityValuationCheckedIncludedCopyCMA" />
                                        <label class="form-check-label fw-semibold"
                                            for="securityValuationCheckedIncludedCopyCMA">Co habitation</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="securityValuationCheckedIncluded"
                                            id="securityValuationCheckedIncludedCopyCMA" />
                                        <label class="form-check-label fw-semibold"
                                            for="securityValuationCheckedIncludedCopyCMA">Getting married</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="securityValuationCheckedIncluded"
                                            id="securityValuationCheckedIncludedCopyCMA" />
                                        <label class="form-check-label fw-semibold"
                                            for="securityValuationCheckedIncludedCopyCMA">Take advantage of current Govt
                                            grants</label>
                                    </div>
                                </div>
                            </div>
                            <!-- Motivation/Strategy or plan -->
                            <!-- Nature of transaction -->
                            <div class="col-12">
                                <div class="form-check form-check-inline mb-3">
                                    <label class="form-check-label fw-bold text-capitalize"
                                        for="customerAMLResultSecondPass">Nature of transaction<span
                                            class="text-danger"> *</span></label>
                                </div>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="securityValuationCheckedIncluded"
                                            id="securityValuationCheckedIncludedCopyCMA" />
                                        <label class="form-check-label fw-semibold"
                                            for="securityValuationCheckedIncludedCopyCMA">Non arm’s length</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="securityValuationCheckedIncluded"
                                            id="securityValuationCheckedIncludedCopyCMA" />
                                        <label class="form-check-label fw-semibold"
                                            for="securityValuationCheckedIncludedCopyCMA">Nominee/purchaser different to
                                            borrower</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="securityValuationCheckedIncluded"
                                            id="securityValuationCheckedIncludedCopyCMA" />
                                        <label class="form-check-label fw-semibold"
                                            for="securityValuationCheckedIncludedCopyCMA">Licensed agent</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="securityValuationCheckedIncluded"
                                            id="securityValuationCheckedIncludedCopyCMA" />
                                        <label class="form-check-label fw-semibold"
                                            for="securityValuationCheckedIncludedCopyCMA">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="securityValuationCheckedIncluded"
                                            id="securityValuationCheckedIncludedCopyCMA" />
                                        <label class="form-check-label fw-semibold"
                                            for="securityValuationCheckedIncludedCopyCMA">No</label>
                                    </div>
                                </div>
                            </div>
                            <!-- real-estate agency -->
                            <div class="col-12">
                                <div class="form-check-inline mb-3">
                                    <label class="form-check-label fw-bold"
                                        for="securityValuationCheckedIncludedCopyCMA">Real-estate agency<span
                                            class="text-danger"> *</span></label>
                                </div>
                                <div class="input-group">
                                    <input class="form-control" type="text" name="customerAMLResultSecond"
                                        id="customerAMLResultSecondPass">
                                </div>
                            </div>
                            <!-- /real-estate agency -->
                            <!-- /section 11a -->
                            <!-- section 11b -->
                            <h5 class="border-2 border-top pt-3"><span>SECTION 11b </span>
                                <span class="text-danger">|</span><span class="mx-1">Construction (MSt 020)</span>
                            </h5>
                            <!-- builder’s name -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="form-check-inline mb-3">
                                    <label class="form-check-label fw-bold"
                                        for="securityValuationCheckedIncludedCopyCMA">Builder’s Name<span
                                            class="text-danger"> *</span></label>
                                </div>
                                <div class="input-group">
                                    <input class="form-control" type="text" name="customerAMLResultSecond"
                                        id="customerAMLResultSecondPass">
                                </div>
                            </div>
                            <!-- /builder’s name -->
                            <!-- license -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="form-check-inline mb-3">
                                    <label class="form-check-label fw-bold"
                                        for="securityValuationCheckedIncludedCopyCMA">License #<span
                                            class="text-danger"> *</span></label>
                                </div>
                                <div class="input-group">
                                    <input class="form-control" type="text" name="customerAMLResultSecond"
                                        id="customerAMLResultSecondPass">
                                </div>
                            </div>
                            <!-- /license -->
                            <!-- State held -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="form-check-inline mb-3">
                                    <label class="form-check-label fw-bold" for=" ">State Held<span class="text-danger">
                                            *</span></label>
                                </div>
                                <div class="input-group">
                                    <input class="form-control" type="text" name="customerAMLResultSecond"
                                        id="customerAMLResultSecondPass">
                                </div>
                            </div>
                            <!-- /state held -->
                            <!-- abn -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="form-check-inline mb-3">
                                    <label class="form-check-label fw-bold" for=" ">ABN<span class="text-danger">
                                            *</span></label>
                                </div>
                                <div class="input-group">
                                    <input class="form-control" type="text" name="customerAMLResultSecond"
                                        id="customerAMLResultSecondPass">
                                </div>
                            </div>
                            <!-- /abn -->
                            <!-- acn -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="form-check-inline mb-3">
                                    <label class="form-check-label fw-bold" for=" ">ACN<span class="text-danger">
                                            *</span></label>
                                </div>
                                <div class="input-group">
                                    <input class="form-control" type="text" name="customerAMLResultSecond"
                                        id="customerAMLResultSecondPass">
                                </div>
                            </div>
                            <!-- mst apposed -->
                            <div class="col-12 col-md-6 col-lg-4 align-self-center">
                                <div class="form-check-inline mb-3 mb-md-4 mb-lg-4">
                                    <label class="form-check-label fw-bold" for=" ">MSt Apposed<span
                                            class="text-danger">
                                            *</span></label>
                                </div>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="securityValuationCheckedIncluded"
                                            id="securityValuationCheckedIncludedCopyCMA" />
                                        <label class="form-check-label fw-semibold"
                                            for="securityValuationCheckedIncludedCopyCMA">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="securityValuationCheckedIncluded"
                                            id="securityValuationCheckedIncludedCopyCMA" />
                                        <label class="form-check-label fw-semibold"
                                            for="securityValuationCheckedIncludedCopyCMA">No</label>
                                    </div>
                                    <p class="peraFontSize mx-4">(If no, seek formal approval prior to submission)</p>
                                </div>
                            </div>
                            <!-- /mst apposed -->
                            <!-- owners name -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="form-check-inline mb-3">
                                    <label class="form-check-label fw-bold" for=" ">Owners Name<span
                                            class="text-danger">
                                            *</span></label>
                                </div>
                                <div class="input-group">
                                    <input class="form-control" type="text" name="customerAMLResultSecond"
                                        id="customerAMLResultSecondPass">
                                </div>
                            </div>
                            <!-- /owners name -->
                            <!-- mobile -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="form-check-inline mb-3">
                                    <label class="form-check-label fw-bold" for=" ">Mobile<span class="text-danger">
                                            *</span></label>
                                </div>
                                <div class="input-group">
                                    <input class="form-control" type="text" name="customerAMLResultSecond"
                                        id="customerAMLResultSecondPass">
                                </div>
                            </div>
                            <!-- /mobile -->
                            <!-- & e-mail -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="form-check-inline mb-3">
                                    <label class="form-check-label fw-bold" for=" ">& E-Mail<span class="text-danger">
                                            *</span></label>
                                </div>
                                <div class="input-group">
                                    <input class="form-control" type="text" name="customerAMLResultSecond"
                                        id="customerAMLResultSecondPass">
                                </div>
                            </div>
                            <!-- & e-mail -->
                            <!-- director’s ID -->
                            <div class="col-12">
                                <label class="form-label fw-bold mb-0"
                                    for="applicantCreditCardNameFinancialInstitution">Director’s ID
                                    <span class="text-danger">*</span></label>
                            </div>
                            <div class="col-12">
                                <div class="row g-3">
                                    <div class="col-md-6 col-lg-3 col-12">
                                        <input class="form-control" type="text"
                                            id="applicantCreditCardNameFinancialInstitution" placeholder="Director’s ID"
                                            aria-label="name" />
                                    </div>
                                    <div class="col-md-6 col-lg-3 col-12">
                                        <input class="form-control" type="text"
                                            id="applicantCreditCardTwoNameFinancialInstitution"
                                            placeholder="Director’s ID" aria-label="name" />
                                    </div>
                                    <div class="col-md-6 col-lg-3 col-12">
                                        <input class="form-control" type="text"
                                            id="applicantCreditCardThreeNameFinancialInstitution"
                                            placeholder="Director’s ID" aria-label="name" />
                                    </div>
                                    <div class="col-md-6 col-lg-3 col-12">
                                        <input class="form-control" type="text"
                                            id="applicantCreditCardFourNameFinancialInstitution"
                                            placeholder="Director’s ID" aria-label="name" />
                                    </div>
                                </div>
                            </div>


                            <!-- /section 11b -->

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /buyers type -->
</main>
<!-- /main -->